{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-info is-fullheight is-bold hero_new_section">
       <h3 class="title has-text-white logo-big-screen"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>

        <div class="hero-body">
        	<div class="container has-text-centered">
        		 <h3 class="title has-text-white is-hidden-tablet"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>
                    <div class="column is-4 is-offset-4 box_wrap">
                        <p class="subtitle">Please enter email to proceed.</p>
                        {% for message in app.flashes('success') %}
				            <p class="alert-success help has-text-centered">
				            	{{ message }}
				        	</p>
				        {% endfor %}
                        {% for message in app.flashes('error') %}
				            <p class="alert-danger help has-text-centered">
				            	{{ message }}
				        	</p>
				        {% endfor %}
                        <div class="box">
                        	{{ form_start(form) }}

	                        {% if not form.email.vars.valid %}
	                            {% set EMAIL_CLASS = "input is-large is-danger" %}
	                        {% else %}
	                            {% set EMAIL_CLASS = "input is-large" %}
	                        {% endif %}

	                        <div class="field">
	                            <div class="control has-icons-left has-icons-right">
	                                {{ form_widget(form.email, {'attr': {'class': EMAIL_CLASS,'placeholder': 'Email'}}) }}
	                                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
	                                {% if not form.email.vars.valid %}
	                                    <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span>
	                                {% endif %}
	                            </div>
	                            {% if not form.email.vars.valid %}
	                                {%for error in form.email.vars.errors %}
	                                    <p class="help is-danger has-icons-left">{{error.message}}</p>
	                                {%endfor%}
	                            {% endif %}
	                        </div>
	                        <div class="field">
                                <div class="control btn-centered">
                                    <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                        Forgot Password
                                    </button>
                                </div>
                            </div>
	                        {{ form_end(form) }}
                        </div>
                        <div class="btn_link" >
	                        <a href="/login">Log in</a> | <a href="{{ path('user_registration') }}">Register</a>
	                    </div>
                    </div>
            </div>
        </div>
		{% include("footer.html.twig") %}
    </section>
{% endblock %}