<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <!-- <div class="navbar-brand">
                <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </div> -->
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active" href="/">
                        Home
                    </a>
                    <a class="navbar-item is-active" href="{{ path('login')}}">
                        Login
                    </a>
                    <a class="navbar-item is-active" href="{{ path('user_registration')}}">
                        Register
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>