{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-info is-fullheight is-bold hero_new_section">
            <h3 class="title has-text-white logo-big-screen"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>

            <div class="hero-body">
            <div class="container has-text-centered">
                <h3 class="title has-text-white is-hidden-tablet"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>
                    <div class="column is-4 is-offset-4 box_wrap">

                        <p class="subtitle">Login</p>
                         {% for message in app.flashes('success') %}
                            <p class="alert-success help has-text-centered">
                                {{ message }}
                            </p>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <p class="alert-danger help has-text-centered">
                                {{ message }}
                            </p>
                        {% endfor %}
                        {% for message in app.flashes('errorToken') %}
                            <p class="alert-danger help has-text-centered">
                                {{ message }}
                            </p>
                        {% endfor %}
                        {% for message in app.flashes('inactiveUser') %}
                            <p class="alert-danger help has-text-centered">
                                {{ message }}
                            </p>
                            <span class="alert-danger help has-text-centered">
                                If you did not recieve any mail click here to Resend.
                            <a class="btn_link link-forgot has-text-right" href="{{ path('resend-Email') }}">Resend Email</a>
                            </span>
                        {% endfor %}
                        {% for message in app.flashes('sentActiveToken') %}
                            <p class="alert-danger help has-text-centered">
                                {{ message }}
                               
                            </p>
                          
                        {% endfor %}
                        {% if error %}
                            <p class="help alert-danger has-text-centered">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        {% endif %}
                        <div class="box">

                            <form action="{{ path('login') }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="hidden" name="_target_path" value="/checkuser" />
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input is-large" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Enter your username"/>
                                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input is-large" type="password" id="password" name="_password" placeholder="Enter your password" />
                                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                         <a class="btn_link link-forgot has-text-right" href="{{ path('forgotpassword') }}">Forgot Password</a>
                                    </p>

                                </div>
                                <div class="field">
                                    <div class="control btn-centered">
                                        <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="btn_link" >Don’t have an account?
                            <a href="{{ path('user_registration') }}">Register</a>
                            
                        </div>
                    </div>
            </div>
        </div>
        {% include("footer.html.twig") %}
    </section>
{% endblock %}