{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/privacy.css') }}" />
    <h1 class="logo-privacy"><img alt="gruup" src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>
    <section id="iubenda_policy">
        <div class="hero-body">
            {{data.content|raw}}
        </div>
        {% include("footer.html.twig") %}
    </section>
{% endblock %}