{% extends 'base.html.twig' %}
{% block body %}

    <div class="columns no-margin">
        <div class="column is-half-desktop is-12 hero is-info is-fullheight is-bold hero_new_section hero_register_section">
            <h3 class="title has-text-white logo-big-screen"><img src="{{ asset('/images/Gruup-Red.svg') }}"/></h3>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h3 class="title has-text-white is-hidden-tablet"><img src="{{ asset('/images/Gruup-Red.svg') }}"/>
                    </h3>
                    <div class="columns is-centered">
                        <div class="column 
                        is-half-desktop is-two-thirds-tablet box_wrap">
                            <p class="subtitle has-text-white">Please register to proceed.</p>
                            {% for message in app.flashes('errorToken') %}
                                <p class="alert-danger help has-text-centered">
                                    {{ message }}
                                </p>
                            {% endfor %}
                            <div class="box">
                                {{ form_start(form) }}

                                {% if not form.email.vars.valid %}
                                    {% set EMAIL_CLASS = "input is-large is-danger" %}
                                {% else %}
                                    {% set EMAIL_CLASS = "input is-large" %}
                                {% endif %}

                                <div class="field">
                                    <div class="control has-icons-left has-icons-right">
                                        {{ form_widget(form.email, {'attr': {'class': EMAIL_CLASS,'placeholder': 'Email'}}) }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        {% if not form.email.vars.valid %}
                                            <span class="icon is-small is-right"><
                                                i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                    {% if not form.email.vars.valid %}
                                        {% for error in form.email.vars.errors %}
                                            <p class="help is-danger has-text-left">{{ error.message }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                {% if not form.plainPassword.first.vars.valid %}
                                    {% set PASSWORD_CLASS = "input is-large is-danger" %}
                                {% else %}
                                    {% set PASSWORD_CLASS = "input is-large" %}
                                {% endif %}

                                <div class="field">
                                    <div class="control has-icons-left has-icons-right">
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': PASSWORD_CLASS,'placeholder': 'Password'}}) }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        {% if not form.plainPassword.first.vars.valid %}
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                    {% if not form.plainPassword.first.vars.valid %}
                                        {% for error in form.plainPassword.first.vars.errors %}
                                            <p class="help is-danger has-text-left">{{ error.message }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="field">
                                    <p class="control has-icons-left has-icons-right">
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': PASSWORD_CLASS,'placeholder': 'Repeat Password'}}) }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        {% if not form.plainPassword.first.vars.valid %}
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                        {% endif %}
                                    </p>
                                    {% if not form.plainPassword.second.vars.valid %}
                                        {% for error in form.plainPassword.second.vars.errors %}
                                            <p class="help is-danger has-text-left">{{ error.message }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left has-icons-right">
                                        {{ form_widget(form.privacyPolicy, {'attr': {'class': "policy-checkbox"}}) }}
                                        <lable class="privacy-policy-lable">I have read and accept the <span> <a
                                                        href="https://www.iubenda.com/privacy-policy/65211544"
                                                        class="no-brand iubenda-embed privacy-policy" title="Privacy Policy">Privacy Policy</a></span>
                                        </lable>
                                    </div>
                                    {% if not form.privacyPolicy.vars.valid %}
                                        {% for error in form.privacyPolicy.vars.errors %}
                                            <p class="help is-danger has-text-left">
                                                Please accept privacy policy.
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="field">
                                    <p class="control btn-centered">
                                        <button type="submit" class="button is-block is-info is-large is-fullwidth">Register
                                        </button>
                                    </p>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="btn_link">Already have an account?
                                <a href="/login">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include("footer.html.twig") %}
        </div>
        <div class="column is-half-desktop is-12 is-hidden-touch is-fullheight is-bold hero_register_section_hero is-flex is-vcentered">
            <div class="container">
                <div><img src="/images/devices.png"
                    srcset="/images/devices@2x.png 2x,
                            /images/devices@3x.png 3x"
                    class="Devices"></div>
                <div class="hero-heading">Your content. Your rules.</div>
                <div class="hero-description">From files in the cloud to content on the web, only Gruup lets you find, organise and share the digital world you love.</div>
            </div>
        </div>
    </div>
{% endblock %}