{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-info is-fullheight is-bold hero_new_section">
         <h3 class="title has-text-white logo-big-screen"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>

        <div class="hero-body">
        	<div class="container has-text-centered">
                 <h3 class="title has-text-white is-hidden-tablet"><img src="{{ asset('/images/Gruup-Red.svg') }}" /></h3>
                    <div class="column is-4 is-offset-4 box_wrap">
                        <p class="subtitle">Reset your Password</p>
                        {% for message in app.flashes('success') %}
				            <p class="alert-success help has-text-centered">
                                {{ message }}
                            </p>
				        {% endfor %}
                        {% for message in app.flashes('error') %}
				            <p class="alert-danger help has-text-centered">
                                {{ message }}
                            </p>
				        {% endfor %}
                        <div class="box">
                        	{{ form_start(form) }}

    	                        {% if not form.plainPassword.first.vars.valid %}
                                {% set PASSWORD_CLASS = "input is-large is-danger" %}
                            {% else %}
                                {% set PASSWORD_CLASS = "input is-large" %}
                            {% endif %}

                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': PASSWORD_CLASS,'placeholder': 'Password'}}) }}
                                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                    {% if not form.plainPassword.first.vars.valid %}
                                        <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': PASSWORD_CLASS,'placeholder': 'Repeat Password'}}) }}
                                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                    {% if not form.plainPassword.first.vars.valid %}
                                        <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span>
                                    {% endif %}
                                </p>
                            </div>
                            {% if not form.plainPassword.first.vars.valid %}
                                {%for error in form.plainPassword.first.vars.errors %}
                                    <p class="help has-icons-left is-danger danger-error">{{error.message}}</p>
                                {%endfor%}
                            {% endif %}
                            {% if not form.plainPassword.second.vars.valid %}
                                    {%for error in form.plainPassword.second.vars.errors %}
                                        <p class="help has-icons-left is-danger danger-error">{{error.message}}</p>
                                    {%endfor%}
                            {% endif %}
                            <div class="field">
                                <div class="control btn-centered">
                                    <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                        Update Password
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                        <div class="btn_link" >
                            <a href="/login">Log in</a> | <a href="{{ path('user_registration') }}">Register</a>
                        </div>
                    </div>
            </div>
        </div>
        {% include("footer.html.twig") %}
    </section>
{% endblock %}