<div>
    Oops, we all forget things from time to time.
    <br/>
    Don’t worry, you can reset your password by following the link below.

    <p>
        <a href="{{url}}" target="_blank">Reset Password</a>
        <br/>
        <br/>
        If you have any questions, please get in touch at <a href="mailto:hello@gruup.space" target="_blank">hello@gruup.space</a>

        <br/><br/>
        Thanks,<br/>
        Team Gruup<br/>
        <a href="www.gruup.space" target="_blank">www.gruup.space</a>
    </p>
</div>
