{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}
{% block javascripts %}


    {% if app.user %}
        {{ parent() }}
    {% endif %}

    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Element.prototype.classList"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://dev.gruup.io/cdn/Dropbox-sdk.min.js"></script>
    <script src="https://dev.gruup.io/cdn/util.js"></script>
    <script src="https://dev.gruup.io/cdn/reqRep.js"></script>
    <!-- these two files now must be included in every page -->
    {#<script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>#}

    {{ encore_entry_script_tags('app') }}
    <script>

    </script>
{% endblock %}
{% block body %}


    <div class="container main">
        <div id="pre-auth-section">
            <p>If you would like to connect your Gruup and DropBox account you can do so here.<br />
                However you must first Authourise Gruup to access dropbox on your behalf.  Once you have connected you will be able to mix
                all your tile types into custom hubs.
                You may also withdraw your consent for Gruup to access your accounts at any time.  Please see the terms and conditions page for details.
            </p>
            <a href="" id="authlink" class="button">Authenticate</a>
        </div>

    {% endblock %}
