{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}
{% block javascripts %}


    {% if app.user %}
        {{ parent() }}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Element.prototype.classList"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://dev.gruup.io/cdn/Dropbox-sdk.min.js"></script>
    <script src="https://dev.gruup.io/cdn/util.js"></script>
    <script src="https://dev.gruup.io/cdn/reqRep.js"></script>

    {{ encore_entry_script_tags('app') }}
    <script>

        // Create an instance of Dropbox with the access token and use it to
        // fetch and render the files in the users root directory.
        var access_token = utils.parseQueryString(window.location.hash).access_token;
        var token_type = utils.parseQueryString(window.location.hash).token_type;
        var uid = utils.parseQueryString(window.location.hash).uid;
        var account_id = utils.parseQueryString(window.location.hash).account_id;

        $(document).ready(
                $.ajax({
                    method: "POST",
                    url: "/dropBox/ajax",
                    data: {
                        method: 'newAuth',
                        access_token: access_token,
                        token_type: token_type,
                        token_uid: uid,
                        account_id: account_id,
                    }
                })
                .done(function (msg) {
                    window.setTimeout(function () {
                        window.location = "https://dev.gruup.io/dropBox/getTiles";
                    }, 1000);


                })
                );
    </script>
{% endblock %}
{% block body %}

    <div id="authed-section" >
        Thank you for authourising Dropbox.
        Please wait for a moment while we build the new tiles

        <a href="https://dev.gruup.io/welcome" target="_blank" title="get tiles">Add tiles to Gruup</a>

    </div>
</div>

{% endblock %}
