{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}
{% block javascripts %}


    {% if app.user %}
        {{ parent() }}
    {% endif %}

    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Element.prototype.classList"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://dev.gruup.io/cdn/Dropbox-sdk.min.js"></script>
    <script src="https://dev.gruup.io/cdn/util.js"></script>
    <script src="https://dev.gruup.io/cdn/reqRep.js"></script>
    <!-- these two files now must be included in every page -->
    {#<script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>#}

    {{ encore_entry_script_tags('app') }}
    <script>

    </script>
{% endblock %}
{% block body %}



    <div id="authed-section" >
        <p>There has been a problem, the following message was returned by Dropbox, the Site Administration have been notified of the issue. We will  be in touch if we need to,
            otherwise check later to sse if the the problem has been resolved</p>
            {{ getData }}
            {{ userData }}
            {{ getData }}

        <ul id="files"></ul>
    </div>
</div>

{% endblock %}
