{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}
{% block javascripts %}


    {% if app.user %}
        {{ parent() }}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Element.prototype.classList"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>


    {{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}



    <div id="authed-section" >
        <pre>
            {{  files }}
        </pre>
    </div>
</div>

{% endblock %}
