{% extends 'base.auth.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="{{ path('welcome_home') }}" class="is-active">Dashboard</a></li>
    </ul>
{% endblock %}

{% block body %}
    <section id="section-main-dashboard">
        <p class="is-size-7">Loading</p>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const __global__ = {
            hash: '{{ (hash is defined) ?  hash : null  }}',
            email: '{{ (email is defined) ?  email : null  }}',
            maxHub: '{{ MAX_HUB_FREE_USER }}',
            isSharedHub: {{ (isSharedHub is defined) ?  1 : "false"  }}

            {% for message in app.flashes('isConnectGoogle') %}
                ,isConnectGoogle: '{{message}}'
            {% endfor %}

            {% for message in app.flashes('modifyCount') %}
                ,modifyCount: '{{message}}'
            {% endfor %}

        }
    </script>

    {{ parent() }}

{% endblock %}
