html, body {
    /* font-family: 'Montserrat', 'Open Sans', serif; */
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

nav.navbar {
    box-shadow: none;
}
.navbar-item.brand-text {
    font-weight: 300;
}
.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}

.menu-label {
    color: #8F99A3;
    letter-spacing: 1.3;
    font-weight: 700;
}
.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}
.menu-list a:hover {
    background-color: transparent;
    color: #276cda;
}
.menu-list a.is-active {
    background-color: transparent;
    color: #276cda;
    font-weight: 700;
}