@import "colours";
@import "exceptions";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,600i,700,700i,800,800i|Open+Sans:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');
html {
	overflow: auto;
}

body {
	background-color: $white;
}
* {
    -webkit-overflow-scrolling: touch;
}
.select {
	max-width: none;
}

.main-content-wrap {
	margin-top: 83px;
}

.navbar {
	display: flex;
	width: 73%;
	min-height: 83px;
	z-index: 1;
	position: absolute;
	right: 0px;
	padding: 0 30px;
	background-color: $white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	justify-content: space-between;
	align-items: center;
	
}

.navbar .navbar-brand,
.navbar .navbar-brand {
	margin: 0;
	width: 385px;
}

.navbar-link {
	padding-right: 30px;
	display: block;
}

.navbar-link span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.navbar-item img {
	display: none;
	vertical-align: middle;
	max-height: none;
	max-width: 97px;
	@media screen and (max-width: 767px){
		display: block;
	}
}

.navbar-item {
	align-self: center;
	position: relative;
}

.navbar-link::after {
	right: 5px;
}

.navbar-item.has-dropdown {
	padding: 10px 0;
}

.navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
.navbar-item.is-active .navbar-dropdown.is-boxed,
.navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
	opacity: 0;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
	background-color: transparent;
}

.input-search {
	width: 285px;
	height: 40px;
	border-radius: 5px;
	background-color: $white;
	border: solid 1px $alto;
	padding-left: 40px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $nobel;
}

.field {
	display: flex;
	align-items: center;
	position: relative;
	.select{
		&:after{
			display: none;
		}
	}
}

.field:not(:last-child) {
	margin-bottom: 0;
}

.navbar-menu .navbar-dropdown {
	left: auto;
	right: 7px;
	top: 90px;
	min-width: auto;
}

//.hub-filter .navbar-dropdown a.navbar-item {
//  padding-right: 1rem;
//}
//
//.hub-filter .navbar-dropdown {
//  left: 0;
//  top: 38px;
//}


.navbar-wrapper {
	background-color: $white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.sidebar-wrap {
	position: relative;
	width: 340px;
	height: 100vh;
	background-color: $white;
	box-shadow: 2px 2px 8px 0 rgba(145, 145, 145, 0.09);
	display: inline-block;
	vertical-align: top;
}

.sidebar-wrap.is-close {
	margin-left: -240px;
}

.sidebar-wrap.is-close .sidebar-up-block {
	border: none;
}

.sidebar-wrap.is-close .sidebar-up-block .sidebar-toparea,
.sidebar-wrap.is-close .sidebar-down-block-wrap {
	display: none;
}

.sidebar-down-block-wrap.is-close .sidebar-toparea {
	display: none;
}

.sidebar-down-block-wrap.is-close .sidebar-up-block .hub-slider-minimise {
	right: 0 !important;
}

.full-menu {
	background-color: $white;
	position: relative;
	height: calc(100vh - 83px);
}

.hub-slider-minimise {
	position: absolute;
	width: 14px;
	height: 100%;
	background-color: $concrete;
	border: solid 1px $seashell;
	top: 0;
	left: auto;
	right: -14px;
	cursor: pointer;
}

.hub-slider-minimise:after {
	content: '';
	width: 9px;
	height: 9px;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 3px;
	border-left: 2px solid #ea512f;
	border-bottom: 2px solid #e72d4a;
}

.hub-slider-minimise a .fa {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.sidebar-wrap .sidebar-up-block {
	padding: 20px 20px 20px 25px;
	height: 70%;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: solid 1px $seashell;
}

.sidebar-wrap .sidebar-up-block::-webkit-scrollbar {
	width: 4px;
}

.sidebar-wrap .sidebar-up-block::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: $gallery;
}

.sidebar-wrap .sidebar-up-block::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	height: 30px;
}

.content-wrap::-webkit-scrollbar {
	width: 4px;
}

.content-wrap::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: $gallery;
}

.content-wrap::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	height: 30px;
}

.sidebar-wrap .sidebar-down-block {
	padding: 0 34px 30px 25px;
	margin: 30px auto 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar-wrap .sidebar-down-block::-webkit-scrollbar {
	width: 4px;
}

.sidebar-wrap .sidebar-down-block::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: $gallery;
}

.sidebar-wrap .sidebar-down-block::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	height: 30px;
}

.sidebar-down-block-wrap::-webkit-scrollbar {
	width: 4px;
}

.sidebar-down-block-wrap::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: $gallery;
}

.sidebar-down-block-wrap::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	height: 30px;
}

.sidebar-down-block-wrap {
	// height: 30%;
	overflow: auto;
}

.sidebar-down-block {
	margin-top: 20px;
	margin-left: 15px;
}

.content-wrap {
	width: 100%;
	height: calc(100vh - 83px);
	overflow: auto;
	display: inline-block;
	background-color: #f4f4f4;
	vertical-align: top;
	position: relative;
	padding-bottom: 20px;
}

.hub-select {
	display: flex;
	justify-content: space-between;
}

.add-hub {
	display: inline-flex;
	align-items: center;
	&:hover {
		opacity: .8;
	}
}

.add-hub.inactive {
	opacity: .5;
}

.add-hub .add-new-hub {
	width: 30px;
	height: 30px;
	line-height: 30px;
	object-fit: contain;
	border-radius: 3px;
	border: solid 1px $tundora;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: $tundora;
	font-weight: 700;
	cursor: pointer;
	margin: 0 0 0 13px;
}

.add-hub label {
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	padding-left: 16px;
	color: $tundora;
	cursor: pointer;
}

.hub-list {
	margin: 30px 0;
}

.hub-list li {
	position: relative;
}

.hub-list li a {
	height: 35px;
	background-color: $white;
	font-size: 13px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	display: flex;
	align-self: center;
	margin: 13px 0;
	position: relative;
}

.hub-list li a:active,
.hub-list li a:focus,
.hub-list li a:hover {
	opacity: .6;
}

.hub-list li a .icon-img {
	align-self: center;
	height: 18px;
	max-width: 20px;
	margin: 20px;
}

.hub-list li a .icon-img,
.hub-list li a span {
	display: inline-flex;
	align-items: center;
}

.hub-setting {
	padding: 17px;
	position: absolute;
	height: 50px;
	width: 50px;
	right: 0;
	top: -10px;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.hub-name {
	min-width: 90px;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	line-height: 2.7;
	padding-right: 30px;
}

.title-tag span {
	color: $tundora;
	vertical-align: middle;
}

.title-tag img {
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	margin-right: 10px;
}

ul.tag-list {
	padding: 10px 0;
}

ul.tag-list span {
	cursor: pointer;
	margin: 0 5px 5px 0;
}

.content-top-bar {
	background-color: #f4f4f4;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}

.tiles-count {
	display: inline-flex;
	align-self: center;
}

.tiles-count label {
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	display: inline-flex;
	// vertical-align: middle;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.tiles-count label.header-label span.head-title {
	max-width: 270px;
	text-overflow: ellipsis;
	overflow: hidden;
	// display: inline-block;
	// vertical-align: middle;
	font-weight: 700;
}

.full-width .tiles-count label.header-label span.head-title {
	max-width: 500px;
}

.tiles-count label span {
	font-weight: 500;
}

.content-action {
	min-height: 35px;
	display: flex;
}

.content-action .select-multiple {
	width: 104px;
	height: 35px;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}

.content-action .add-hub {
	margin-right: 25px;
}

.content-action .add-hub .add-new-hub {
	color: $tundora;
	border-color: $tundora;
}

img.change-view {
	margin-left: 20px;
	width: 20px;
	height: 16px;
	display: inline-flex;
	align-self: center;
	cursor: pointer;
}

.box {
	padding: 0 50px;
}

.tile .title {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	background-color: #000;
	padding: 10px;
	margin-bottom: -22px;
	margin-top: -6px;
}

article {
	background-size: cover;
	min-height: 155px !important;
	background-repeat: no-repeat;
}

.navbar-brand,
.navbar-tabs {
	min-height: auto;

}

.grid-layout {
	display: grid;
	grid-template-columns: repeat( auto-fit, 140px);
	grid-auto-rows: 140px;
	width: 100%;
	grid-auto-flow: row dense;
	grid-gap: 15px;
	//margin-top: 82px;
	padding: 0 30px;
	justify-content: space-between;
}

.grid-item {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	color: #929796;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
	box-sizing: border-box;
}

.span-2 {
	grid-column: auto / span 2;
}

.span-2 .back.back-tile {
	background: #333333 url("../../public/images/bg-flip-tile-horizontal.jpg") right no-repeat;
}

.span-3 {
	grid-column-end: span 3;
}

.span-2-vertical {
	grid-row: auto / span 2;
	height: 100% !important;
}

.span-2-vertical .back.back-tile {
	background: url("../../public/images/verticle.jpg");
}

.span-3-verticle {
	grid-row-end: span 4;
}

.tile-file-name {
	display: block;
	position: absolute;
	bottom: 0;
	align-items: center;
	padding: 8px 10px;
	width: 100%;
	background-color: #000000;
	align-self: flex-end;
	border-radius: 0 0 3px 3px;
	color: #000000;
	text-transform: none;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-overflow: ellipsis;
	cursor: pointer;
}

.tile-file-name a {
	color: $tundora;
}

.bg-white {
	background-color: $white;
}

.tile-file-name.bg-white {
	border-top: solid 1px #cccccc;
}

.bg-green {
	background-color: #00b050;
}

.bg-blue {
	background-color: #00b0f0;
}

.bg-gray {
	background-color: #454444;
}

.bg-orange {
	background-color: #cd4f40;
}

.bg-doc>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-xls>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-pdf>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-ppt>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-png>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-gif>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-svg>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-image>div.tile-file-name.bg-white>div>span.tile-ext,
.bg-excel>div.tile-file-name.bg-white>div>span.tile-ext {
	display: none;
}

.bg-png>div.tile-file-name.bg-white>div>a {
	font-size: 11px;
	text-align: right;
}

.icon-tiles {
	position: absolute;
	bottom: 0px !important;
	left: 0px;
	max-width: 32px!important;
	-webkit-border-radius: 50%;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-radius: 50%;
	-moz-border-radius-bottomleft: 1px;
	border-radius: 50%;
	border-bottom-left-radius: 1px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
	background-color: #fff;
	border: solid white thin;
}

.icon-tableRow {
	position: relative;
	bottom: 0px !important;
	left: 3px;
	max-width: 32px!important;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-border-radius-bottomleft: 1px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
	background-color: #fff;
	border: solid white thin;
}

.drive-icon-img {
	padding: 8px;
}

.front-tile {
	border-radius: 3px;
}

.tiles-content {
	padding: 10px;
}

.tiles-content .title {
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	text-transform: none;
	margin-bottom: 0;
}

.tiles-content p {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	text-transform: none;
}

.tiles-image-bg {
	width: 100%;
	height: 140px;
	border-radius: 3px;
	object-fit: cover;
}

.tiles-image {
	height: 140px;
	overflow: hidden;
	border-radius: 3px;
}

.tiles-image a {
	height: 100%;
	width: 100%;
	display: inline-block;
}

.span-2-vertical .tiles-content .title,
.span-2-vertical .tiles-content p {
	color: $tundora;
}

.back-tile {
	background: url("../../public/images/bg-flip-tile.jpg") center no-repeat;
	box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.28);
	padding-bottom: 10px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.top-section-flip {
	padding: 7px 10px;
	display: flex;
	align-items: center;
}

.top-section-flip span,
.bottom-section-flip span,
.tiles-hover span {
	display: inline-flex;
	align-self: center;
}

.tiles-hover {
	position: absolute;
	top: 6px;
	display: flex;
	padding: 0 10px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	margin-top: -20px;
	z-index: 9;
}

.tiles-hover {
	width: 100%;
}

.front-tile:hover .tiles-hover {
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	margin-top: 3px;
}

.top-section-flip .refresh,
.top-section-flip .add,
.tiles-hover .refresh,
.tiles-hover .add {
	padding: 8px;
	background-color: $white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	align-self: center;
	cursor: pointer;
	color: #e72d4a;
}

.tiles-hover .refresh {
	width: 30px;
}

.tiles-hover .refresh svg {
	margin: auto;
}

.top-section-flip .refresh img,
.tiles-hover .refresh img,
.tiles-hover .add img,
.top-section-flip .add img,
.delete-tile img {
	width: 14px;
	height: 14px;
}

.top-section-flip .add,
.tiles-hover .add {
	position: absolute;
	right: 10px;
	z-index: 10;
}

.top-section-flip .refresh .fa,
.top-section-flip .add .fa,
.tiles-hover .refresh .fa,
.tiles-hover .add .fa {
	display: inline-flex;
	align-self: center;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	-webkit-background-clip: text;
	/*background-clip: text;*/
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

.top-section-flip .add,
.tiles-hover .add {
	justify-content: flex-end;
	margin-left: auto;
}

.top-section-flip .delete-tile {
	display: inline-flex;
	cursor: pointer;
	background-color: $white;
	border-radius: 50%;
	padding: 8px;
	color: red;
	font-size: 16px;
	margin-left: 5px;
}

.back-tile ul {
	padding: 0 10px;
}

.back-tile ul li {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	text-transform: none;
}

.bottom-section-flip {
	padding: 5px 10px;
	display: flex;
	align-self: flex-end;
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}

.bottom-section-flip span {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	text-transform: none;
}

.bottom-section-flip .tag-flip {
	font-size: 14px;
	padding-right: 10px;
}

.tag-flip img {
	max-width: none;
	height: 15px;
	width: 15px;
}

.bottom-section-flip .plus {
	justify-content: flex-end;
	margin-left: auto;
	color: red;
}

.pricing__table {
	width: 100%;
	overflow-x: auto;
}

.pricing__table td .favicon {
	width: 38px;
	max-width: none;
}

.list-layout {
	// margin-top: 50px;
	padding: 0 30px;
}

.list-layout table {
	background-color: #f4f4f4;
}

.list-layout .panel-block {
	border: 0;
	padding: 0;
}

.list-layout .panel-block .table td,
.list-layout .panel-block .table th {
	padding: 0.5em 0.75em 0.5rem 0;
	height: 50px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
}

.list-layout .panel-block .table th {
	font-weight: 600;
}

.list-layout .table-action {
	text-align: center;
}

.list-layout .table-action a {
	color: $tundora;
}

.list-layout .table-action a:hover {
	color: #e72d4a;
}

.navbar-burger {
	z-index: 9;
	height: auto;
}

.navbar-burger:hover {
	background-color: transparent;
}

.navbar-link::after {
	border-left: 1px solid #393535;
	border-right: 1px solid #000000;
	border-top: 1px solid transparent;
	content: " ";
	border-bottom: 1px solid #393535;
	display: block;
	height: 0.4em;
	margin-top: 0;
	pointer-events: none;
	position: absolute;
	top: 46%;
	transform: rotate(-45deg);
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 0.4em;
}

.dropdown {
	box-shadow: 0 0 2px #777;
	display: none;
	position: fixed;
	z-index: 100;
	// padding: 15px;
	white-space: nowrap;
	left: auto;
	background-color: #fff;
}

.dropdown.is-open {
	display: block;
	border-radius: 3px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.49);
	background-color: #ffffff;
}

.btn-dropdown {
	border: none;
	width: auto;
	height: 100%;
	padding: 10px 0;
}

.dropdown ul li a,
.hub-open-setting ul li {
	padding: 0.5rem 0.30rem;
	position: relative;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: $tundora;
}

.hub-open-setting ul li {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	padding: 5px 0;
}

.dropdown ul li a:hover,
.hub-open-setting ul li:hover {
	color: #e72d4a;
}

.hub-open-setting .nav-item {
	cursor: pointer;
}

.hub-filter .filter-hub-open {
	left: auto;
	right: 0;
	width: 60px;
}

.search-dropdown {
	padding: 10px;
	position: absolute;
	width: 100%;
	top: 60px;
	height: 443px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.16);
	background-color: $white;
	border: solid 1px $alto;
	overflow: auto;
	display: none;
}

.search-dropdown .search-block .cat-title {
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	font-weight: 700;
}

.search-dropdown .search-block .cat-title img {
	display: inline-block;
	vertical-align: middle;
}

.search-dropdown .search-block .cat-title hr {
	margin: 5px 0;
	height: 1px;
}

.search-dropdown .search-block .cat-body {
	padding: 0 0 15px 0;
}

.search-dropdown .search-block .cat-body>li {
	padding: 5px 0;
}

.search-dropdown .search-block .cat-body .searchItem {
	// cursor: pointer;
}

.search-dropdown .search-block .YourHighlightClass {
	background-color: transparent;
	font-weight: bold;
}

.search-dropdown .search-block ul {
	padding: 15px 0;
}

.search-dropdown .search-block ul li {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: $tundora;
}

.search-dropdown::-webkit-scrollbar {
	width: 4px;
}

.search-dropdown::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: $gallery;
}

.search-dropdown::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	height: 30px;
}

.search-open {
	display: block;
}

.filter-hub-open-setting ul li a {
	position: relative;
}

.hub-active:after {
	content: '';
	position: absolute;
	left: auto;
	right: -13px;
	top: 13px;
	width: 10px;
	height: 10px;
}

// .hub-open-setting:after {
// 	overflow: hidden;
// 	content: "";
// 	position: absolute;
// 	width: 12px;
// 	height: 12px;
// 	background: white;
// 	transform: translateX(-50%) translateY(-50%) rotate(45deg);
// 	top: 0;
// 	left: auto;
// 	right: 15px;
// 	// -moz-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
// 	// -webkit-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
// 	// box-shadow: 6px 6px 8px -6px $white, 0 0 0 0 $white, 0 -1px 3px 0 $white, 2px -7px 0 -7px #000;
// 	border-left: 1px solid #ccc;
// 	border-top: 1px solid #ccc;
// 	border-radius: 1px;
// }

.menu-short {
	display: none;
	padding: 30px;
}

.menu-short img {
	display: block;
	padding: 15px 0;
}
.field-search-menu {
	display: inline-flex;
	position: absolute;
	width: 100%;
	background-color: $white;
	top: 0;
	height: 70px;
	z-index: 1;
	left: 0;
	border-bottom: 1px solid #f3eded;
	justify-content: center;
}

.field-search-menu form {
	margin: auto;
}

.select:not(.is-multiple) {
	height: auto;
}

#root-section {
	height: 100vh;
	overflow: hidden;
	@media screen and (max-width: 767px){
		height: auto;
	}

}

#section-main-dashboard {
	width: calc(100% - 354px);
	float: right;
	padding-top: 83px;

}

.show-menu {
	padding: 10px;
	background-color: $white;
}

.search-dropdown.is-open {
	display: block;
	border-radius: 8px;
}

.modal-display {
	z-index: 9;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #868686;
	content: " ";
	border-bottom: transparent;
}

.is-boxed.is-open {
	opacity: 1;
	pointer-events: auto;
	position: absolute;
	display: inline-block;
	background-color: $white;
	border-radius: 6px;
	border-top: none;
	top: calc(100% + (1px));
	transform: translateY(1px);
	transition-duration: 86ms;
	transition-property: opacity, transform;
	max-width: 160px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
}

.margin-left3 {
	margin-left: 3px;
}

.close-hub {
	color: #616161;
	text-decoration: underline;
}

.header-label {
	margin-right: 15px;
}

.link-description:hover {
	color: #929796;
}

.account {
	cursor: pointer;
}

.logout__link-caption {
	padding: 5px 0;
	display: block;
}

.logout__link {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px 10px;
	color: #e62f48;
	position: relative;
}

.logout__link:first-child {
	padding-left: 0;
}

.dropdown-author.is-open {
	display: block;
	position: absolute;
	left: auto;
	right: 0%;
}

.dropdown-author-mobile.is-open {
	display: block;
	z-index: 1;
	width: auto;
	white-space: inherit;
}

.tag-list-data {
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	width: 84%;
	display: inline-flex;
}

.search-dropdown.is-open {
	display: block;
	border-radius: 8px;
}

.modal-display {
	z-index: 9;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #868686;
	content: " ";
	border-bottom: transparent;
}

.is-boxed.is-open {
	opacity: 1;
	pointer-events: auto;
	position: absolute;
	display: inline-block;
	background-color: $white;
	border-radius: 6px;
	border-top: none;
	// box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	top: calc(100% + (1px));
	transform: translateY(1px);
	transition-duration: 86ms;
	transition-property: opacity, transform;
	max-width: 160px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
}

.close-hub {
	color: #616161;
	text-decoration: underline;
}

.header-label {
	margin-right: 15px;
}

.link-description {
	color: $tundora;
	font-size: 10px;
	font-weight: lighter;
	text-transform: none;
	margin: auto;
	text-align: left;
	padding: 5px 10px 0 10px;
	height: 140px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 1.1;
}

.content .link-title,
.tiles-image .link-title {
	font-size: 0.75rem;
	padding: 10px 10px 0 10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	color: $tundora;
	line-height: 1.2;
	height: 38px;
	text-transform: none;
}

.tiles-image .link-description {
	height: 36px;
}

.content .link-title a,
.tiles-image .link-title a {
	color: $tundora;
}

.link-description:hover {
	color: #929796;
}

.account {
	cursor: pointer;
}

.logout__link-caption {
	padding: 5px 0;
}

.search-modal .tiles-image img {
	display: block;
	margin: auto;
}

.tile-info .search-modal .tiles-image img {
	height: 100%;
}

.tag-dot-content {
	text-overflow: ellipsis;
	width: 100px;
	overflow: hidden !important;
	white-space: nowrap;
}

.tag-dot-content span {
	display: inline-block !important;
}

.grid-item.span-2 .tag-dot-content {
	width: 400px;
}

.first-hub {
	cursor: pointer;
	border-radius: 3px;
	background-color: #f6f6f6;
	border: dotted 1px #b2b2b2;
	margin: 30px 0 -10px 0;
}

.first-hub-txt {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	color: $tundora;
	padding: 5px 15px;
}

.txt-bold {
	font-weight: 600;
}

.first-tile {
	cursor: pointer;
	border-radius: 5px;
	background-color:white;
	border: dotted 1px #b2b2b2;
}

.first-tile-txt {
	font-size: 15px;
	line-height: 1.4;
	text-align: center;
	color: $tundora;
	padding: 24px 24px;
}

.drive-tile-txt {
	font-size: 15px;
	line-height: 1.4;
	text-align: center;
	color: $tundora;
	padding: 22px 22px;
	height: 100%;
}

.sync-drive-img {
	float: left;
	width: 100%;
}

.sync-drive {
	float: left;
	width: 100%;
}


/* New modal */

.close-modal {
	float: left;
	width: 100%;
	cursor: pointer;
}

.close-modal img {
	float: right;
	padding: 15px 15px 0 0;
}

.new-modal-body {
	padding: 20px 50px 50px 50px;
}

.new-modal-body.select-hub {
	padding: 25px 98px 60px;
}

.new-modal-body.select-hub span {
	font-size: 14px;
	width: 280px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.new-modal-body.select-hub span.rw-select {
	width: 100%;
}

.new-modal-body.select-hub span img {
	margin-right: 5px;
	margin-top: -3px;
}

.new-modal-body.select-hub li span img {
	padding-right: 5px;
}

.modal-form {
	margin: 30px 0 0;
}

.modal-title {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: left;
	letter-spacing: normal;
	color: $tundora;
	display: flex;
	text-transform: uppercase;
	img{
		margin-right: 15px;
	}
}

.modal-lable {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: $tundora;
}

.success-tick {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: -30px;
	top: 10px;
}

.new-modal-footer {
	text-align: center;
	margin-bottom: 40px;
}

.field-note {
	font-size: 12px;
	color: $nobel;
}

.hero_new_section button.submit-btn-modal {
	height: 35px;
}

.submit-btn-modal {
	height: 35px;
	width: 130px;
	border-radius: 5px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
	color: $white;
	float: right;
	font-size: 14px;
}

.cancel-lnk {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	display: inline-block;
	vertical-align: middle;
}

.link-forgot {
	margin-bottom: 50px !important;
	margin-top: -10px;
	display: inline-block !important;
	/* float: right; */
}

.select-tile-mode {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	z-index: 100;
}

.select-tile-mode.selected {
	background-color: rgba(217, 232, 248, 0.47);
}

.select-tile-action,
.select-tile-action:hover,
.select-tile-action:focus,
.select-tile-action:active {
	font-size: 0.875rem;
	font-weight: 500;
	color: $tundora;
	margin-right: 14px;
}

.select-tile-action img,
.select-tile-action svg {
	width: 15px;
	vertical-align: middle;
	margin-right: 6px;
}

.close-selection {
	cursor: pointer;
}

.icon-check {
	position: absolute;
	top: 5px;
	left: auto;
	right: 5px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	color: $white;
	font-size: 8px;
	line-height: 15px;
	text-align: center;
}

.control input {
	font-size: 14px !important;
	color: $tundora;
	margin-bottom: 15px;
	box-shadow: none;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
	color: #dbdbdb;
	height: 14px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 14px;
	z-index: 4;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
	top: 8px;
	left: 10px;
}

.tag-dot-content {
	display: inline-block !important;
	width: 100px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.control.has-icons-left .icon.is-left {
	left: 10px;
	top: 13px;
}

.hero_new_section .control.has-icons-left .icon.is-left {
	top: 8px;
}

.control.has-icons-left .input.is-large~.icon {
	font-size: 1rem;
}

.control input:focus .control .icon.has-left,
.control input:active .control .icon.has-left {
	color: $tundora;
}

.help {
	font-size: 12px;
	font-weight: 500;
	padding: 0 0 20px;
}

.help.is-danger {
	color: #e73737;
	font-size: 12px;
	padding-bottom: 0;
}

.hero_new_section .help.is-danger {
	margin-top: -8px;
}

.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
	border-color: $tundora;
	box-shadow: none;
}

.hub-list li a.hub-active::before {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
	left: -25px;
	display: block;
}

.hub-list li a.hub-blur {
	opacity: 0.5;
}


/*
  ==============================
  Fliper CSS
  ==============================
*/


/*/ entire container, keeps perspective /*/

.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}


/*/  UPDATED! flip the pane when hovered /*/

.flip-container.hover .back {
	transform: rotateY(0deg);
}

.flip-container.hover .front {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 100%;
	height: 140px;
	overflow: hidden;
}


/*/ flip speed goes here /*/

.flipper {
	transition: 0.6s;
	position: relative;
}


/*/ hide back of pane during swap /*/

.front,
.back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	/* Chrome, Safari, Opera */
	transition: transform 0.6s;
	position: absolute;
	top: 0;
	left: 0;
}


/*/  UPDATED! front pane, placed above back /*/

.front {
	z-index: 2;
	transform: rotateY(0deg);
}


/*/ back, initially hidden pane /*/

.back {
	transform: rotateY(-180deg);
}


/*
   Some vertical flip updates
*/

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container.hover .back {
	transform: rotateX(0deg);
}

.vertical.flip-container.hover .front {
	transform: rotateX(180deg);
}

.grid-item.span-2-vertical .front-tile {
	min-height: 295px;
}

.grid-item.span-2-vertical .back-tile {
	min-height: 295px;
}

.tile-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: inherit;
	margin-left: 26px;
}

.bg-other .tile-name,
.bg-pdf .tile-name {
	margin-left: 0;
}

.help {
	font-size: 16px;
	font-weight: 500;
}


/*Modal css*/

.search-modal {
	position: relative;
}

.search-modal .modal-input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 5px 15px;
	color: $tundora;
	background-color: $white;
	border: solid 1px $alto;
	border-radius: 5px;
}

.search-modal input:focus {
	outline-color: $white;
}

.search-modal span.icon {
	position: absolute;
	top: 10px;
	left: 12px;
	color: #ccc;
}

.modal-card {
	background-color: $white;
	border-radius: 5px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
}

.delete::after,
.modal-close::after {
	width: 3px;
}

.delete::before,
.modal-close::before {
	height: 3px;
}

.search-btn-modal {
	width: 135px;
	height: 35px;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $tundora;
	border: none;
	cursor: pointer;
	margin-right: 30px;
	transition: all linear 0.2s;
}

.search-btn-modal:hover {
	color: #e72d4a;
}

.modal-background {
	background-color: rgba(0, 0, 0, 0.22);
}

.delete,
.modal-close {
	padding: 15px;
	background-color: $white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	align-self: center;
	cursor: pointer;
	transition: all linear 0.2s;
}

.delete:hover,
.modal-close:hover,
.delete:focus,
.modal-close:focus {
	transform: rotate(90deg);
	background-color: $white;
}

.delete::before,
.modal-close::before,
.delete::after,
.modal-close::after {
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
}

.modal-card-head,
.modal-card-foot {
	background-color: $white;
	padding: 15px;
}

.modal-card-head .modal-card-title {
	font-weight: 700;
	font-size: 20px;
}

.select:not(.is-multiple):not(.is-loading)::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #868686;
	content: " ";
	border-bottom: transparent;
	display: block;
	height: 0.625em;
	margin-top: 0;
	pointer-events: none;
	position: absolute;
	top: 18px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 0.625em;
}

.select:not(.is-multiple):not(.is-loading)::after:hover {
	border-color: transparent !important;
}

.select:hover {
	border-color: transparent !important;
}

.navbar-link::after {
	border-left: 2px solid #393535;
	border-right: 1px solid #000000;
	border-top: 1px solid transparent;
	border-bottom: 2px solid #393535;
	content: " ";
	display: block;
	height: 7px;
	margin-top: 0;
	pointer-events: none;
	position: absolute;
	top: 38%;
	transform: rotate(-45deg);
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 7px;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
	color: #e72d4a;
	border-color: transparent !important;
}

.navbar-link::after:hover {
	border-color: transparent !important;
	color: #e72d4a;
}

.input-field {
	margin-bottom: 15px;
}

.field-name {
	margin-bottom: 12px;
	display: block;
	font-size: 14px;
	color: $tundora;
}

.field-checkbox {
	display: block;
	font-size: 12px;
	font-weight: normal;
	color: $nobel;
	padding-left: 23px;
	margin-bottom: 10px;
}

.checkbox-wrap {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-wrap .modal-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	z-index: 9;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: $alto;
}


/* On mouse-over, add a grey background color */

.checkbox-wrap:hover .modal-checkbox~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-wrap .modal-checkbox:checked~.checkmark {
	background-image: linear-gradient(to top, #e72d4a, #ea512f);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.checkbox-wrap .modal-checkbox:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.checkbox-wrap .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox-inline input,
.checkbox-inline label {
	display: inline-block;
	vertical-align: middle;
}

.error-display {
	color: #ff3860;
	font-size: 12px;
}

.tag-dot-content {
	display: inline-block !important;
	width: 100px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.search-modal .tag-flip {
	font-size: 20px;
	padding-right: 10px;
}

.hub-setting .dropdown li a {
	padding: 0;
	margin: 0;
	height: auto;
	background: none;
	font-size: 14px;
	font-weight: normal;
	box-shadow: none;
	line-height: normal;
}

.favicon_icon {
	max-width: 30px !important;
	// position: absolute;
	bottom: 0px !important;
	left: -3px;
	max-width: 32px!important;
	-webkit-border-radius: 50%;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-radius: 50%;
	-moz-border-radius-bottomleft: 1px;
	border-radius: 50%;
	border-bottom-left-radius: 1px;
	margin-left: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
	background-color: #fff;
	border: solid white thin;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: $white;
}

.message {
	background-color: transparent !important;
}


/* New login, register  pages css*/

.hero_new_section {
	background-color: $white !important;
	background-image: url('../../public/images/bg.svg') !important;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto;
}

.btn-centered {
	display: block;
	text-align: center;
	margin: auto;
}

.hero_new_section button.button {
	padding: 0 20px;
	height: 35px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #e72d4a, #ea512f);
	background-color: #e72d4a;
	color: $white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	border: none;
	cursor: pointer;
	margin-top: 0;
	transition: all linear 0.3s;
}

.hero_new_section button.button:hover,
.hero_new_section button.button:focus,
.hero_new_section button.button:active,
.hero_new_section .button.is-info:active,
.hero_new_section .button.is-info.is-active {
	background-image: linear-gradient(to bottom, #e72d4a, #ea512f);
	background-color: #e72d4a;
	color: #000000;
}

.hero_new_section .title {
	padding-top: 20px;
	padding-left: 20px;
}

.hero_new_section .subtitle {
	font-size: 20px;
	font-weight: 600;
	color: $tundora !important;
}

.hero_new_section .btn_link {
	font-size: 12px;
	letter-spacing: normal;
	color: $tundora !important;
	display: block;
}

.hero_new_section .btn_link a,
.btn_link.link-forgot {
	text-decoration: underline;
}

.hero_new_section .box {
	box-shadow: none;
	background: none;
}

.hero_new_section .hero.is-info a.navbar-item:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
	background-image: linear-gradient(to bottom, #b7122c, #ea512f) !important;
}

.hero_new_section .box_wrap {
	border-radius: 5px;
	padding: 20px 10px;
}

.hero_new_section.hero.is-info a.navbar-item:hover,
.hero_new_section.hero.is-info a.navbar-item.is-active,
.hero_new_section.hero.is-info .navbar-link:hover,
.hero_new_section.hero.is-info .navbar-link.is-active {
	background-image: linear-gradient(to bottom, #b7122c, #ea512f) !important;
	background-color: #e72d4a !important;
}

.alert-danger {
	color: #e73737;
	margin-top: -8px;
	font-size: 13px;
}

.alert-success {
	color: green;
	margin-top: -8px;
	font-size: 13px;
}

.danger-error {
	margin: 10px 0 20px 0;
	font-size: 13px;
}

.hero_new_section .field {
	width: 100%;
	display: block;
}

.navbar-wrapper .navbar-menu {
	// padding-right: 19px;
}

.hero_new_section.hero.is-info.is-bold .navbar-menu {
	background-image: none;
	background-color: transparent !important;
}

.hero_new_section .navbar-menu {
	display: block;
	box-shadow: none;
	text-align: right;
	width: 100%;
}

.hero_new_section .navbar-menu .navbar-item {
	width: auto;
	display: inline-block;
}

.has-text-white {
	color: $white;
}

.bg-excel .tile-name a,
.bg-doc .tile-name a,
.bg-pdf .tile-name a,
.bg-other .tile-name a,
.bg-ppt .tile-name a {
	/*text-overflow: auto !important;*/
	overflow: hidden;
	white-space: pre-wrap;
	font-size: 13px;
	font-weight: bold;
	color: $white;
	display: block;
	width: 100%;
	height: 70%;
	word-wrap: break-word;
	padding-top: 20px;
}

.bg-excel {
	background: url("../../public/images/excel.jpg") center center / cover no-repeat, url("../../public/images/folder.png") center 35% no-repeat rgb(248, 248, 248);
}

.bg-doc {
	background: url("../../public/images/bg-word.jpg") center center / cover no-repeat, url("../../public/images/folder.png") center 35% no-repeat rgb(248, 248, 248);
}

.bg-pdf {
	background: url("../../public/images/pdf.jpg") center center / cover no-repeat, url("../../public/images/folder.png") center 35% no-repeat rgb(248, 248, 248);
}

.bg-ppt {
	background: url("../../public/images/powerpoint.jpg") center center / cover no-repeat, url("../../public/images/folder.png") center 35% no-repeat rgb(248, 248, 248);
}

.bg-excel .tile-name img,
.bg-doc .tile-name img,
.bg-pdf .tile-name img,
.bg-ppt .tile-name img,
.bg-other .tile-name img {
	bottom: 5px;
}

.bg-excel .tile-file-name,
.bg-doc .tile-file-name,
.bg-pdf .tile-file-name,
.bg-other .tile-file-name,
.bg-ppt .tile-file-name {
	background-color: transparent !important;
	height: 100%;
	// padding: 20px;
	border-radius: 3px;
}

.checkbox-inline label {
	padding-left: 5px;
	font-size: 14px;
}

.front-tile {
	background-repeat: no-repeat;
	background-color: white;
}

.front-tile.bg-other {
	background-color: #f8f8f8;
}

.front-tile.bg-other a {
	font-size: 11px;
	color: $tundora;
	word-wrap: break-word;
}

.front-tile.bg-other>div.tile-file-name.bg-white>div>a {
	color: #aa9999;
}

.tile-ext {
	font-size: 15px;
	font-weight: bold;
	color: #c6c6c6;
	text-transform: uppercase;
	position: absolute;
	top: auto;
	bottom: 15px;
	left: auto;
	right: 15px;
}


/*.front.front-tile.bg-video .tiles-image:before {
  content: '';
  background-image: url('../../public/images/play.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-size: contain;
  width: 50px;
  height: 50px;
}*/

.front.front-tile.bg-video .tiles-image a.playIcon {
	content: '';
	background-image: url('../../public/images/play.png');
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-size: contain;
	width: 50px;
	height: 50px;
}



.navbar-wrapper .control input {
	margin-bottom: 0;
}

.bg-other .tile-file-name.bg-white {
	border-top: 0;
}



.rw-dropdown-list-input {
	height: 40px !important;
	border-radius: 5px;
	background-color: $white;
}

.rw-list-empty,
.rw-list-option,
.rw-list-optgroup {
	padding: 7px 15px !important;
	font-size: 14px;
}

.rw-popup-container.rw-popup-transition-exited {
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.16);
	background-color: $white;
	border: solid 1px $alto;
}

.rw-i.rw-i-caret-down:before {
	content: '';
	background: url("../../public/images/sort-down-copy.png") no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 4px;
	right: 8px;
}

.is-close .hub-slider-minimise::after {
	border: 0;
	left: 0;
	border-right: 2px solid #ea512f;
	border-top: 2px solid #e72d4a;
}

.rw-input.rw-dropdown-list-input span img {
	display: inline-block;
	vertical-align: middle;
}

.beta-info {
	font-size: 12px;
	font-weight: 600;
}

.beta-info a {
	text-decoration: underline;
}

.add-tag-modal {
	padding-bottom: 150px;
}

.underline {
	text-decoration: underline;
}

.logo-big-screen img {
	width: 97px;
}

.title.has-text-white.is-hidden-tablet img {
	width: 194px;
}

td.tile-name-ellip {
	width: 25%;
	max-width: 0;
}

.tile-name-ellip span.with-link {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: break-all;*/
	display: inline-block;
	vertical-align: middle;
	height: 50px !important;
	line-height: 50px;
}

.tile-name-ellip span a,
.tile-name-ellip span.without-link {
	display: inline-block;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.loading-ani>span,
.syncing span {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

.loading-ani>span:nth-child(2),
.syncing span:nth-child(2) {
	animation-delay: .2s;
}

.loading-ani>span:nth-child(3),
.syncing span:nth-child(3) {
	animation-delay: .4s;
}

.suggest-sync {
	position: absolute;
	z-index: 1000;
	width: 100%;
	padding: 5px 10px;
	background-color: #ffc001;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
	top: 66px;
	font-weight: 500;
}

.suggest-sync span.close {
	float: right;
	cursor: pointer;
}

.loader-img {
	margin: auto;
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tile-info .tiles-image {
	max-height: unset;
}

.tile-info .tiles-image img.loader-img {
	height: auto;
}

@media screen and (max-width:1024px) {
	.list-layout {
		margin-top: 0;
		padding: 0 20px 0 34px;
	}
	.navbar-dropdown .navbar-item {
		padding-left: 0.5rem;
	}
	.navbar-wrapper .field {
		margin-left: 0;
	}
	.content-top-bar {
		position: static;
		width: auto;
	}
	.grid-layout {
		margin-top: 5px;
		padding: 0 35px 0 35px;
	}
	.main-content-wrap {
		margin-top: 68px;
	}
	.content-top-bar {
		// padding: 20px 35px;
		padding : 0px 10px 10px 14px;

	}

	.navbar .navbar-brand,
	.navbar .navbar-brand {
		margin: 0;
		width: 33.33%;
	}
	.navbar-end {
		justify-content: flex-end;
		margin-left: auto;
		display: flex;
		align-items: center;
	}
	.navbar-wrapper {
		display: block;
	}
	.navbar-brand,
	.field,
	.navbar-menu,
	/*.navbar-item, */
	.navbar-brand .navbar-item,
	.navbar-tabs .navbar-item {
		display: inline-block;
		vertical-align: middle;
		width: 33.33%;
	}
	.navbar-menu {
		text-align: right;
	}
	.navbar-burger,
	.navbar-dropdown {
		display: none;
	}
	.navbar-item {
		display: inline-block;
		vertical-align: middle;
	}
	.navbar-menu {
		padding: 0;
		box-shadow: none;
	}
	.navbar {
		min-height: 46px;
	}
	.sidebar-wrap .sidebar-up-block {
		padding: 20px 20px 20px 30px;
	}
	.hub-list li a .icon-img {
		margin: 15px;
	}
	.hub-filter {
		display: inline-block;
	}
	.content-wrap {
		width: 100%;
	}
	.list-layout .panel-block .table tr th:nth-last-child(-n+4),
	.list-layout .panel-block .table tr td:nth-last-child(-n+4) {
		display: none;
	}
	.button-author {
		position: relative;
	}
	.button-author::after {
		border-left: 1px solid #393535;
		// border-right: 1px solid #000000;
		border-top: 1px solid transparent;
		border-bottom: 1px solid #393535;
		content: " ";
		display: block;
		height: 0.4em;
		margin-top: 0 s;
		pointer-events: none;
		position: absolute;
		top: 46%;
		left: 82%;
		right: 52px;
		transform: rotate(-45deg);
		-webkit-transform-origin: center;
		transform-origin: center;
		width: 0.4em;
	}
	.dropdown-author:after {
		overflow: hidden;
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		background: white;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		top: 0;
		left: auto;
		right: 15px;
		-moz-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
		-webkit-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
		box-shadow: 6px 6px 8px -6px $white, 0 0 0 0 $white, 0 -1px 3px 0 $white, 2px -7px 0 -7px #000;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-radius: 1px;
	}
	.dropdown-author {
		top: 36px;
		left: -60px;
		right: 30px;
		white-space: nowrap;
	}
	.dropdown-author ul li {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $tundora;
		padding: 5px 10px;
	}
	.dropdown-author ul li.active:after {
		right: 15px;
		top: 20px;
		content: '';
		position: absolute;
		left: auto;
		width: 10px;
		height: 10px;
	}
	.grid-layout {
		display: grid;
	}

	.hub-list li a.hub-active::before {
		left: -30px;
	}
	.hero_new_section {
		background-position: top right;
		background-image: url('../../public/images/tablet_bg.svg') !important;
	}
	.box {
		padding: 10px;
	}
	.full-width .tiles-count label.header-label span.head-title {
		max-width: 290px;
	}
	.tiles-count label.header-label span.head-title {
		max-width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		max-width: 135px;
		margin-right: 5px;
	}
	.add-tag-modal {
		padding-bottom: 125px;
	}
	td.tile-name-ellip {
		width: 40%;
	}
	.suggest-sync {
		top: 83px;
	}
}
@media screen and (max-width:479px){
	.suggest-sync{
		top:60px;

	}
}
@media screen and (max-width:767px) {
	.hub-slider-minimise {
		display: none;
	}
}

@media screen and (max-width:768px) {
	.grid-layout {
		display: grid;
	}
	.navbar {
		padding: 0 10px;
	}
	.input-search {
		max-width: 232px;
		width: 232px;
	}
	.navbar-brand,
	.field,
	.navbar-menu,
	.navbar-brand .navbar-item,
	.navbar-tabs .navbar-item {
		width: 32.5%;
	}
	.sidebar-wrap .sidebar-up-block {
		padding: 20px 20px 20px 15px;
	}
	.sidebar-wrap .sidebar-down-block {
		padding: 0 34px 0 25px;
	}
	.content-wrap {
		width: 100%;
	}
	.content-top-bar {
		flex-direction: column;
	}
	.tiles-count {
		order: 2;
		margin-top: 11px;
	}
	.navbar-link.is-active,
	.hero_new_section.hero.is-info .navbar-link:hover,
	.hero_new_section.hero.is-info a.navbar-item.is-active,
	.hero_new_section.hero.is-info a.navbar-item:hover {
		background-image: linear-gradient(180deg, #b7122c, #ea512f)!important;
		background-color: #e72d4a!important;
	}
	.hub-list li a.hub-active::before {
		left: -14px;
	}
	.hero_new_section .navbar-menu {
		text-align: center;
	}
	.hero_new_section {
		background-image: url('../../public/images/tablet_bg.svg') !important;
		background-size: 35%;
	}
	.box {
		padding: 10px;
	}
	.hero-body .title img {
		display: none;
	}
	.tiles-hover {
		margin-top: 5px;
		opacity: 1;
	}
	.tiles-count {
		align-self: flex-start;
	}
	.grid-layout {
		justify-content: space-evenly;
	}
	.full-width .tiles-count label.header-label span.head-title {
		max-width: 330px;
	}
	.new-modal-body.select-hub span {
		width: 166px;
	}
	.modal-card.select-hub-main {
		display: block;
		width: 500px;
		height: 320px;
	}
	.new-modal-body.select-hub {
		padding: 25px 95px;
		height: 300px;
	}
	.hero_new_section .box_wrap {
		border-radius: 5px;
		padding: 20px 220px;
	}
}
.tiles-wrap{
	margin-top: 11px;
}
@media only screen and (max-width:767px) {
	.hero-body .title img {
		display: block;
		margin: auto;
	}
	.hero-body .title {
		padding-left: 0;
	}
	.sidebar-wrap {
		margin-left: -300px;
		position: absolute;
	}
	.menu-show {
		margin-left: 0;
		position: relative;
		width: 100%;
	}
	.content-wrap {
		width: 100%;
	}
	.tiles-wrap {
		padding: 0px 10px 0 10px;
	}
	.field {
		// display: none;
	}
	.navbar-brand,
	.field,
	.navbar-menu,
	.navbar-item,
	.navbar-brand .navbar-item,
	.navbar-tabs .navbar-item {
		width: auto;
	}
	.navbar-brand {
		width: 64.5% !important;
		text-align: center;
	}
	//.hub-filter .navbar-link {
	//  display: block;
	//}
	.navbar-burger,
	.navbar-burger img {
		display: inline-flex;
		align-self: center;
	}
	.navbar.is-fixed-top .navbar-menu,
	.navbar.is-fixed-top-touch .navbar-menu,
	.navbar-burger {
		display: inline-flex;
		align-self: center;
	}
	.hub-count {
		margin-right: -105px;
	}
	.search-dropdown {
		width: 61%;
	}
	.list-layout .panel-block .table tr th:nth-last-child(-n+5),
	.list-layout .panel-block .table tr td:nth-last-child(-n+5) {
		display: none;
	}
	.list-layout .panel-block .table tr td {
		position: relative;
	}
	.list-mobile-more {
		border-radius: 5px;
		border: solid 1px #d8d8d8;
		padding: 5px 10px;
		position: absolute;
		left: auto;
		right: 5px;
		top: 15px;
	}
	.dropdown-author-mobile:after {
		overflow: hidden;
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		background: white;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		top: 0;
		left: auto;
		right: 3px;
		-moz-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
		-webkit-box-shadow: 0 10px 12px 0 #000, 0 -10px 12px 0 #000;
		box-shadow: 6px 6px 8px -6px $white, 0 0 0 0 $white, 0 -1px 3px 0 $white, 2px -7px 0 -7px #000;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-radius: 1px;
	}
	.dropdown-author-mobile {
		top: 55px;
		left: 40px;
		right: 5px;
		white-space: nowrap;
	}
	.dropdown-author-mobile ul li {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $tundora;
		padding: 5px 10px;
	}
	.dropdown-author-mobile.active:after {
		right: 15px;
		top: 20px;
		content: '';
		position: absolute;
		left: auto;
		width: 10px;
		height: 10px;
	}
	#section-main-dashboard {
		width: 100%;
	}
	.modal-content,
	.modal-card {
		width: 94%;
		margin: auto;
	}
	.tag-list-data {
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
		width: 81%;
		display: block;
		float: left;
	}
	.tag-list-data .plus {
		width: 1%;
		float: right;
	}
	.tag-flip {
		width: 12%;
		float: left;
	}
	.nav-item {
		padding-right: 20px;
	}
	.hero_new_section {
		background-size: 28%;
	}
	.hero_new_section .title.logo-big-screen {
		display: none;
	}
	.navbar-wrapper .navbar-menu {
		padding-right: 0;
	}
	.sidebar-wrap .sidebar-up-block,
	.sidebar-down-block-wrap {
		overflow: hidden;
	}
	.tiles-count label.header-label span.head-title {
		max-width: 270px;
	}
	.add-tag-modal {
		padding-bottom: 100px;
	}
	td.tile-name-ellip {
		width: 85%;
	}
	.tile-name-ellip span.with-link,
	.tile-name-ellip span.without-link,
	.tile-name-ellip span a {
		max-width: 88% !important;
	}
	.box.dropdown {
		padding: 10px;
		position: absolute;
	}
	.box.dropdown li span a {
		display: inherit;
	}
	.box.dropdown .nav-item {
		word-wrap: break-word;
	}
	.hero_new_section .box_wrap {
		padding: 20px 20px;
	}
}

@media screen and (max-width:1087px) and (min-width:1024px) {
	.hero_new_section .navbar-menu {
		padding: 0;
	}
}

@media screen and (min-width: 769px),
print {
	.modal-content,
	.modal-card {
		width: 545px;
	}
}

.hero_new_section .field:not(:last-child) {
	margin-bottom: 0.75rem;
}

.navbar-burger span:nth-child(2) {
	top: calc(50% - 6px);
}

.navbar-burger span:nth-child(1) {
	top: calc(50% - 12px);
}

.navbar-burger span:nth-child(3) {
	top: calc(50% + 0px);
}

.navbar-burger.is-active span:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
}

@media only screen and (max-width:568px) {
	.navbar-link {
		display: none;
	}
	.full-menu {
		height: 100%;
	}
	.grid-layout {
		padding: 0 10px 0 10px;
	}
	.content-top-bar {
		// padding: 20px 10px;
		padding : 0px 10px 10px 14px;

	}
	.box {
		padding: 0 30px;
	}
	.new-modal-body {
		padding: 25px 35px;
	}
	.list-layout {
		padding: 0 10px;
	}
}

@media screen and (max-width:490px) {
	.grid-layout {
		grid-template-columns: repeat( 2, 42vw);
		grid-auto-rows: 42vw;
	}
	.flip-container,
	.front,
	.back {
		height: 42vw;
	}
	.tiles-image-bg {
		height: 42vw;
	}
	.tiles-image {
		height: 42vw;
	}
	.grid-item.span-2-vertical .front-tile,
	.grid-item.span-2-vertical .back-tile {
		min-height: 87vw;
	}
	.back.back-tile {
		background-size: 100% !important;
	}
	.content .link-title,
	.tiles-image .link-title {
		height: 38px;
	}
	.tiles-image .link-description {
		height: 73px;
	}
	.link-description {
		height: 84px;
	}
	.bg-excel .tile-name a,
	.bg-doc .tile-name a,
	.bg-pdf .tile-name a,
	.bg-other .tile-name a,
	.bg-ppt .tile-name a {
		height: 71%;
	}
}

@media screen and (max-width:479px) {
	.hub-list li a.hub-active::before {
		left: -10px;
	}
	.hero_new_section {
		background-image: none !important;
	}
	.tiles-count label.header-label span.head-title {
		max-width: 180px;
	}
	.new-modal-body.select-hub {
		padding: 25px 70px;
	}
}

@media only screen and (max-width:375px) {
	.navbar-brand {
		width: 62.5% !important;
	}
	.content-action .select-multiple {
		margin-right: 15px;
	}
	.tiles-count label.header-label span.head-title {
		overflow: hidden;
		display: inline-block;
		text-overflow: ellipsis;
		max-width: 180px;
	}
	.new-modal-body.select-hub {
		padding: 25px 40px;
	}
	.tiles-image .link-description {
		height: 50px;
	}
	.link-description {
		height: 50px;
	}
	.bg-excel .tile-name a,
	.bg-doc .tile-name a,
	.bg-pdf .tile-name a,
	.bg-other .tile-name a,
	.bg-ppt .tile-name a {
		height: 68px;
		margin-top:18px;
	}
}
@media only screen and (max-width:768px) {
	.bg-excel .tile-name a,
	.bg-doc .tile-name a,
	.bg-pdf .tile-name a,
	.bg-other .tile-name a,
	.bg-ppt .tile-name a {
		margin-top:18px;
	}
}
@media only screen and (max-width:340px) {
	.grid-layout {
		grid-template-columns: repeat( auto-fit, 130px);
	}
	.content-action .select-multiple {
		margin-right: 15px;
	}
	.navbar-brand {
		width: 58% !important;
	}
	.tiles-count label.header-label span.head-title {
		max-width: 115px;
	}
	.tiles-image .link-description {
		height: 38px;
	}
	.link-description {
		height: 38px;
	}
}

#section-main-dashboard.full-width {
	width: calc(100% - 100px);
}

.bg-other {
	border: 1px solid #cccccc;
	background-color: #f8f8f8;
}

.is-close+.menu-short {
	display: block;
	padding: 30px;
	position: absolute;
	top: 83px;
	height: calc(100% - 83px);
}

.sidebar-wrap.is-close .sidebar-up-block .hub-slider-minimise {
	right: 0 !important;
}

.sidebar-wrap.is-close+#section-main-dashboard .tiles-wrap .content-top-bar {
	width: calc(100% - 83px);
}

.modal .rw-popup {
	position: relative;
}

.add-tag-popup+.rw-popup-container .rw-list-option-create.rw-list {
	position: absolute;
	top: 0;
	width: 100%;
}

.add-tag-popup+.rw-popup-container .rw-popup ul:first-of-type {
	padding-top: 38px;
}

.loading-block {
	margin: 1rem 0;
	text-align: center;
}

.add-tag-modal .Select--multi .Select-value {
	background-color: #eee !important;
	border-color: #ccc !important;
	color: inherit !important;
}

.add-tag-modal .Select--multi .Select-placeholder,
.add-tag-modal .Select--multi .Select-menu-outer {
	font-size: 14px;
}

.add-tag-modal .Select--multi .Select-value-icon {
	border: none !important;
}

.add-tag-modal .Select--multi .Select-value-icon:hover,
.add-tag-modal .Select--multi .Select-value-icon:focus {
	background-color: transparent !important;
	color: inherit !important;
	opacity: 0.8;
}

.add-tag-modal .Select-option.is-focused {
	background-color: #eee !important;
}

.add-tag-modal .Select-value-icon {
	float: right;
}

.button.btn-dropdown:focus:not(:active),
.button.is-focused:not(:active) {
	box-shadow: none;
}

.g-notify {
	position: absolute;
	z-index: 1000;
	right: 10px;
	bottom: 10px;
	background: #444;
	min-width: 160px;
	min-height: 45px;
	text-align: center;
	color: #fff;
	padding: 15px 10px;
	font-size: .85rem;
}

.position-relative {
	position: relative;
}

.loading-account {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: #cccccc29;
}

.loading-account span {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15px;
	z-index: 11;
}

.none-select {
	opacity: 0.6;
}

@keyframes blink {
	0% {
		opacity: .2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}

.syncing span {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

.syncing span:nth-child(2) {
	animation-delay: .2s;
}

.syncing span:nth-child(3) {
	animation-delay: .4s;
}

.control input[type="checkbox"] {
	vertical-align: super;
	font-size: 12px !important;
}

.privacy-policy-lable {
	font-size: 12px;
	line-height: 16px;
	vertical-align: super;
}

.privacy-policy-lable span {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.grid-layout {
		display: flex;
		flex-wrap: wrap;
		margin: 82px -5px 0;
		padding: 0 40px 0 50px;
	}
	.grid-item {
		width: 140px;
		flex-direction: row;
		margin: 5px 0 20px 0;
	}
	.Logo {
		max-width: none;
		max-height: none;
		width: 200px;
		height: 70px;
	}
	.content-top-bar {
		width: calc(100% - 374px);
		top: 82px;
	}
	.back.back-tile .top-section-flip .add {
		top: 8px;
	}
	#root-section {
		overflow: hidden;
	}
	.hero_new_section {
		background-image: url('../../public/images/bg.png') !important;
		background-size: 25%;
	}
	.input-search::-ms-clear {
		display: none;
	}
	.top-section-flip .delete-tile {
		background-image: url('../../public/images/trash.png') !important;
		background-size: 14px;
		background-position-x: center;
		background-position-y: center;
		background-repeat: no-repeat;
	}
	.tiles-image.link-description {
		height: 50px;
		padding: 0 10px;
		display: inline-block;
		line-height: 13px;
	}
	.grid-item.span-2 {
		width: 290px !important;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width:1024px) {
	.hero_new_section {
		background-image: url('../../public/images/tablet_bg.png') !important;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (min-width:769px) {
	.modal-card,
	.modal-content {
		margin: 0 20px !important;
	}
}

.navbar-end.vertical-center {
	align-items: center;
}

.submit-btn-modal.small {
	margin-left: -20px;
	width: 100px;
}

.submit-btn-modal.large {
	width: 180px;
}

.no-margin {
	margin: 0;
}

.hero-heading {
	text-shadow: 3px 6px 11px rgba(0, 0, 0, 0.14);
	background-image: linear-gradient(to top, #e62341, #ea512f);
	/* font-family: GothamRounded; */
	font-size: 37px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: center;
	-webkit-background-clip: text;
	background-clip: text;
}

.hero-description {
	width: 458px;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.39;
	letter-spacing: 0.9px;
	text-align: center;
	color: $tundora;
	margin: 20px auto;
}

@media screen and (min-width:1088px) {
	.hero_new_section.hero_register_section {
		background-image: none !important;
	}
	.hero_register_section_hero {
		background-color: #f8f8f8;
		flex-direction: row;
		align-items: center;
		align-content: center;
		text-align: center;
	}
	.hero_register_section_hero .Devices {
		width: 476px;
		height: 332px;
		margin-top: auto;
		object-fit: contain;
	}
	.hero_register_section_hero .container {
		align-self: center;
		align-content: center;
		text-align: center;
		margin: auto;
	}
}

.shared-hub-users {
	position: relative;
	&>.field.is-grouped {
		max-height: 150px;
		overflow-y: auto;
		&.loader-space {
			min-height: 50px;
		}
		.tag.is-link {
			background-color: whitesmoke;
			color: #414141;
			&:hover {
				text-decoration: none;
			}
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-image: linear-gradient(to top, #e72d4a, #ea512f);
			height: 30px;
		}
		&::-webkit-scrollbar-track {
			border-radius: 5px;
			background-color: $gallery;
		}
		&::-webkit-scrollbar {
			width: 4px;
		}
	}
	.loader-block {
		position: absolute;
		max-height: 150px;
		width: 100%;
		top: 0;
		z-index: 10;
		height: 100%;
		.is-loading {
			content: "";
			position: absolute;
			display: block;
			height: 1.5em;
			width: 1.5em;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			animation: spinAround 500ms infinite linear;
			border: 2px solid #dbdbdb;
			border-radius: 290486px;
			border-right-color: transparent;
			border-top-color: transparent;
			z-index: 11;
		}
	}
}

.modal-card-body {
	&.mange-user {
		overflow: hidden;
		.action {
			margin-bottom: 15px;
			text-align: right;
			.search-btn-modal {
				margin-right: 0;
				&[disabled] {
					box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
				}
			}
		}
	}
}

/*# sourceMappingURL=custom_style.scss.map */


/*# sourceMappingURL=custom_style.css.map */






@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

hr.gray {
	border: solid 1px #414141;
	background-color: #414141;
	margin: 12px 0;
	display: block;
	&.display__no_mobile{
		@media screen and (max-width: 767px){
			display: none;
		}
	}
}
.button__add_hub {
	cursor: pointer;
	width: 97px;
	height: 32px;
	border-radius: 3px;
	border: dashed 1px #f0f0f0;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	text-align: left;
	color: #f0f0f0;
	@include flexbox;
	&.btn__plus_dark{
		color: #414141;
		border-color: #414141;
	}
	align-items: center;
	justify-content: center;
	img {
		margin-right: 10px;
		width: 16px;
	}
}
.block__flex.main__wrap {
	@include flexbox;
	.flex__grid {
		width: auto;
		flex-grow: 1;
		position: relative;
		&.sidebar {
			font-family: 'Oxygen', sans-serif;
			width: 300px;
			max-width: 300px;
			background-color: #2e2e2e;
			transition: all 0.3s ease-in-out;
			@include flexbox;

			@media screen and (max-width: 767px){
				position: fixed;
				z-index: 9999;
				max-width: 414px;
				width: 100%;
				height: 100%;
				transform: translateX(-100%);
				transition: all 0.3s ease-in-out;
				&.open__menu_sidebar{
					transform: translateX(0);
				}
			}
			@media (max-width: 767px) and (orientation: landscape) {
				max-width: none; 
				width: 100%;
		}
		
			.sidebar_block {
				@include flexbox;
				flex-direction: column;
				padding-bottom: 10px;
				width: 100%;
				@media screen and (max-width: 479px){
					flex-grow: 1;
				}

				@media screen and (min-width: 480px) and (max-width: 767px){
					height: 100vh;
					.hub__section{
						flex-grow: 0;
					}
				}
				@media (max-width: 767px) and (orientation: landscape) {
						// height: unset; 
				}
				
				.brand_top {
					@include flexbox;
					justify-content: space-between;
					&.mobile__view{
						@media screen and (min-width: 768px){
							display: none;
						}
					}
				}
				>.list__block {
					@media screen and (max-width: 767px){
						display: none;
					}
				}
			}
			.list__block {
				.list_row {
					padding: 11px 20px;
					&.active__element {
						background-color: #e73047;
					}
					.list__grid {
						@include flexbox;
						justify-content: space-between;
						align-items: center;
						span.wrap_block {
							@include flexbox;
							align-items: center;
							img.icon__list {
								margin-right: 13px;
								width: 17px;
								height: 17px;
								&.icon__more {
									width: 5px;
									margin: 0;
									cursor: pointer;
								}
							}
						}
						.list__caption {
							flex-grow: 1;
							font-size: 13px;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.23;
							letter-spacing: normal;
							text-align: left;
							color: #f0f0f0;
							a{
									flex-grow: 1;
									font-size: 13px;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.23;
									letter-spacing: normal;
									text-align: left;
									color: #f0f0f0;
									overflow: hidden;
									text-overflow: ellipsis;
									width: 100px;
							}
							span {
								flex-basis: 50%;
							}
							.notification_list {
								@include flexbox;
								flex-basis: 50%;
								.total_no {
									width: 24px;
									height: 24px;
									background-image: linear-gradient(to top, #e72d4a, #ea512f);
									font-size: 12px;
									font-weight: bold;
									font-style: normal;
									font-stretch: normal;
									letter-spacing: normal;
									text-align: left;
									color: #ffffff;
									@include flexbox;
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									flex-basis: 24px;
									margin-right: 10px;
								}
								ul {
									@include flexbox;
									flex-grow: 1;
									li {
										width: 24px;
										height: 24px;
										background-color: #757575;
										@include flexbox;
										align-items: center;
										justify-content: center;
										border-radius: 50%;
										font-size: 12px;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.25;
										letter-spacing: normal;
										text-align: left;
										color: #f0f0f0;
										margin-right: -5px;
										&.count_no {
											background-color: #f0f0f0;
											color: #414141;
										}
									}
									& li:nth-of-type(1) {
										z-index: 5;
									}
									& li:nth-of-type(2) {
										z-index: 4;
									}
									& li:nth-of-type(3) {
										z-index: 3;
									}
									& li:nth-of-type(4) {
										z-index: 2;
									}
								}
							}
						}
					}
				}
			}
			.hub__section {
				flex-grow: 1;
				@media screen and (max-width: 767px){
					margin-top: 15px;
				}
				.list__block:last-child{
					max-height: calc(100vh - 420px);
					overflow: auto;
					@media screen and (max-width: 479px){
						max-height: calc(100vh - 300px);
					}

					@media screen and (min-width: 480px) and (max-width: 1279px){
						max-height: calc(100vh - 420px);
					}
					&::-webkit-scrollbar {
						width: 4px;
					}
					
					&::-webkit-scrollbar-track {
						border-radius: 5px;
						background-color: transparent;
					}
					
					&::-webkit-scrollbar-thumb {
						border-radius: 5px;
						background-image: linear-gradient(to top, #e72d4a, #ea512f);
						height: 30px;
					}
					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 40px;
						position: sticky;
						top: auto;
						bottom: -7px;

background-image: -moz-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
background-image: -webkit-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
background-image: -o-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
background-image: -ms-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
background-image: linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px)

						// background-image: #ffad26;
						// background-image: -moz-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%); 
						// background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46, 0.29)), color-stop(50%,rgba(46, 46, 46, 0.29)), color-stop(51%,rgba(46, 46, 46, 0.29)), color-stop(100%,rgba(46, 46, 46, 0.29))); 
						// background-image: -webkit-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -o-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -ms-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%); 
						// background-image: linear-gradient(to bottom,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%); 
						// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad26', endColorstr='#ff7701',GradientType=0 );  	
					
						// background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 100%);

						// background-image: 	-webkit-linear-gradient(to bottom, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 100%);
						// background-image: 	 -moz-linear-gradient(to bottom, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 100%);
						// background-image: 	-ms-linear-gradient(to bottom, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 100%);
						// background-image: 	-o-linear-gradient(to bottom, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 100%);

						// background-image: linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -o-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -moz-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -webkit-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%);
						// background-image: -ms-linear-gradient(top,  rgba(46, 46, 46, 0.29) 0%,rgb(46, 46, 46) 100%)
					
					}
				}
			}
			.tag__section {
				.tag_pill__wrap {
					padding: 20px;
					@include flexbox;
					flex-wrap: wrap;
					max-height: 100px;
					overflow: auto;
					padding-bottom: 40px;
					position: relative;
					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 12px;
						position: sticky;
						top: auto;
						bottom: -42px;
						background-image: -moz-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
						background-image: -webkit-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
						background-image: -o-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
						background-image: -ms-linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px);
						background-image: linear-gradient(180deg, rgba(46, 46, 46, 0.29), rgb(46, 46, 46) 33px)
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
						&:after{
							display: none;
						}
					}
					@media screen and (max-width: 767px){
						max-height: 100px;
						overflow: auto;
					}
				
					.tag_pill {
						padding: 5px 10px;
						border-radius: 5px;
						box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
						background-color: #d6d6d6;
						font-size: 12px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: normal;
						text-align: left;
						color: #414141;
						margin: 0 10px 15px 0;
						max-width: 100%;
   					 overflow: hidden;
       			text-overflow: ellipsis;
					}
					&::-webkit-scrollbar {
						width: 4px;
					}
					
					&::-webkit-scrollbar-track {
						border-radius: 5px;
						background-color: transparent;
					}
					
					&::-webkit-scrollbar-thumb {
						border-radius: 5px;
						background-image: linear-gradient(to top, #e72d4a, #ea512f);
						height: 30px;
					}
				}
			}
		}
		& #section-main-dashboard {
			float: none;
			width: auto;
			@media screen and (max-width: 767px){
				padding-top: 0;
			}
		}
	}
}

.block__flex.main__wrap .flex__grid.sidebar .list__block .list_row .list__grid span.wrap_block.button__add_hub img {
	margin-right: 10px;
	width: 16px;
}

.burger_icon img {
	cursor: pointer;
}

.sidebar-minimize__logo {
	display: none;
}

.block__flex.main__wrap .flex__grid.sidebar.sidebar-is-close {
	width: 60px;
	max-width: 60px;
	overflow: hidden;
	.sidebar_block{
		max-width: 100%;
		width: 100%;
		transition: all 0.1s ease-in-out;
	}
	.list__caption,
	.wrap_block.list__caption,
	.wrap_block.button__add_hub,
	.tag_pill__wrap,
	.list__grid span:nth-of-type(2) .icon__list,
	.sidebar__logo,
	.burger_icon,
	.hub__section .list__block:last-child,
	.arrow__connection {
		display: none;
		width: 0;
		opacity: 0;
		visibility: hidden;
	}
	.list__block .list_row .list__grid span.wrap_block img.icon__list{
		margin: 0;
	}
	.brand_top {
		padding: 24px 14px;
		transition: all 0.1s ease-in-out;
		.sidebar-minimize__logo {
			display: flex;
			width: 30px;
		}
	}
}
.tag_pill{
	cursor: pointer;
}
.block__flex.main__wrap .flex__grid.sidebar .list__block .list_row .list__grid span.wrap_block img.icon__list.icon__more {
	margin-right: 0px;
	position: relative;
}
.font-bold {
	font-weight: bold;
}

.Connection-sidebar{
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-320px);
	transition: all 5s ease-in-out;
}
.display-connection{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top:0;
	z-index: 9999;
	width: 320px;
	height: 100%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	transform: translateX(300px);
	opacity: 1;
	visibility: visible;
	transition: all 5s ease-in-out;

	.block__top__wrap {
		.header__top{
			padding: 14px 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #d5d5d5;
			.header__title{
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: left;
				color: #414141;
			}
			img{
				width: 15px;
				height: 15px;
				cursor: pointer;
			}
		}
		.section__body{
			.content__list_wrap{
				@include flexbox;
				padding: 15px 15px 0 15px;
				&.notification__block{
					&:first-child{
						padding-top: 30px;
					}
					padding-top:0;
					.content__icon{
						padding-top: 10px;
					}
				}
				.content__icon{
					width: 28px;
					padding-top: 5px;
				}
				.content__desc_wrap{
					margin-left: 12px;
					padding-bottom: 15px;
					max-width: 216px;
					border-bottom: 1px solid #d5d5d5;
					&.no__border{
						border: none;
					}
					.date__notification{
						font-size: 10px;
						font-weight: bold;
						color: #414141;
					}
					.content__desc{
						font-size: 15px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: normal;
						text-align: left;
						color: #414141;
						margin-bottom: 10px;
						a{
							color: #e73047;
						}
					}
					.action__connection{
						
						a{
							font-size: 15px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: normal;
						text-align: left;
						color: #e73047;
						}
						.pipe__divider{
							padding:0 10px;
						}
					}
				}
			}
		}
	}
	.section__footer{
		.add__connection_link a{
			display: block;
			font-size: 18px;
			text-align: left;
			color: #414141;
			padding: 15px;
			border-bottom: 1px solid #d5d5d5;

		}
		.quick__action{
			padding: 15px;
			display: flex;
			justify-content: space-around;
		}
	}
}

.dropdown.is-open.hub-open-setting{
	min-width: 160px;
	z-index: 9999;
	left: -10px;
	transition: all linear 0.2s;
	
	// @media screen and (max-width: 767px){
	// 	left: 236px;
	// }
	&.account__dropdown{
		top: 84px;
    right: 30px;
    left: auto;
		ul{
			padding: 15px 0 10px 0;
			text-align: left;
			hr{
				margin: 10px 0;
			}
		}
		.button__upgrade{
			.nav-item{
				display: block;
				width: 73px;
				height: 24px;
				line-height: 24px;
				border-radius: 5px;
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
				background-image: linear-gradient(to top, #e72d4a, #ea512f);
				font-size: 13px;
  			font-weight: bold;
				color: #ffffff;
				text-align: center;
			}
		}
	}
	hr{
		border-color: #efefef;
	}
	ul{
		padding: 15px 0;
		li{
			padding: 5px 15px;
			&.delete__element{
				display: flex;
				align-items: center;
				img{
					margin-right:  10px;
				}
			}
			.nav-item-logout{
				font-weight: normal;
				padding: 0;
				line-height: normal;
			}
		}
		li:last-child{
			padding: 0 15px;
			color: #e73047;
		}
	}
}

nav.navbar {
	z-index: 99 !important;
	width: 100%;
	padding: 7px 30px;

	@media screen and (max-width: 767px){
		min-height: unset !important;
		padding: 15px 20px;
		width: 100%;
		background-color: #414141;
		position: relative;
		.field{
			flex-grow: 1;
			margin-left: 15px;
		
				.input-search{
					max-width: 235px;
					height: 30px;
					line-height: 30px;
					border-radius: 5px;
					border: solid 1px #414141;
					background-color: #ffffff;
					padding-left: 30px;
					font-size: 12px;
				
					text-align: left;
					color: #a9a9a9;
				}
				.control.has-icons-left .icon.is-left{
					top: 8px;
				}
		}
		.navbar-menu{
			background-color: transparent;
			img{
				width: auto;
				height: auto;
			}
			.navbar-item{
				padding: 0;
			}
		}
		.navbar-burger{
			margin: 0;
			width: auto;
		}
	}
}
.brand_top.web__view {
	padding: 26px 20px;
	@media screen and (max-width: 767px){
		display: none !important;
	}
	.logo_wrap {
		a {
			display: block;
			img.sidebar__logo {
				display: block;
			}
		}
	}
}
.brand_top.mobile__view{
	@media screen and (max-width: 767px){
			display: block;
			padding: 15px 20px;
			.logo_wrap{
				display: flex;
				align-items: center;
				a{
					font-size: 13px;
					font-weight: bold;
					
					text-align: left;
					color: #e73047;
					display: block;
					img{
						display: block;
						margin-right: 20px;
					}
				}
			}
	}
}
.add_tile_icon__global{
	display: none;
	@media screen and (max-width: 767px){
		display: block;
    position: absolute;
    top: auto;
    bottom: 60px;
    left: 50%;
		transform: translateX(-50%);
		width: 60px;
	}
}
.modal{
	z-index: 99999;
	.modal-card{
		@media screen and (max-width: 767px){
			width: 100%;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-radius: 0;
			display: flex;
			max-height: none;
			.new-modal-body{
				display: flex;
				flex-direction: column;
				.search-modal{
					flex-grow: 1;
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.navbar-link {
		display: none;
	}
}
.short__menu{
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px){
			display: none;
	}
	.user__details{
		display: flex;
	align-items: center;
	margin-right: 15px;
		.user__name{
			font-size: 13px;
			font-weight: normal;
			text-align: left;
			color: #414141;
			margin-right: 10px;
	
		}
	}
	
	img{
		cursor: pointer;
	}
}
.navbar-item:not(.has-dropdown) {
	display: none;
	@media screen and (max-width: 767px){
			display: flex;
	}
	.user-icon {
		max-height: none;
	}
}

.tile__upload_preview{
	display: flex;
	width: 360px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	margin: 20px auto 40px;
	@media screen and (max-width: 767px){
		display: none;
	}
	.icon__bottom{
		position: absolute;
		width: 40px;
		height: 40px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.49);
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.block__left{
		flex-basis: 50%;
		position: relative;
		img{
			display: flex;
		}
		.edit__photo{
			border-radius: 25px 25px 25px 0;
			bottom: 0;
			left: 0;
		}
	}
	.block__right{
		flex-basis: 50%;
		padding: 15px 20px;
		position: relative;
		.tile__title{
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			text-align: left;
			color: #414141;
			margin-bottom: 10px;
		}
		.tile_description{
			font-family: Oxygen;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: normal;
			text-align: left;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
		}
		.edit__icon{
			bottom: 0;
			left: auto;
			right: 0;
			border-radius: 25px 25px 0 25px;
		}
	}
}
nav.navbar{
	.navbar-burger {
		&.burger{
			@media screen and (min-width: 768px){
				display: none;
			}
		}
	}
	.navbar-menu{
		display: flex;
		box-shadow: none;
	}
	
}
.navbar-end{
	display: flex;
	align-items: center;
	&.list-mobile-more{
		@media screen and (min-width: 768px){
			display: none;
		}
	}
}
.select:not(.is-multiple):not(.is-loading)::after{
	display: none;
}

.is-left-content {
	margin-left: 0px;
}
.no-data-found{
	text-align: center;
	margin-top: 20px;
	color: #818181
}
.tiles-count label img {
		display: none;
}
@media screen and (max-width: 767px){
		.content-action{
			display: none;
		}
	}
	@media screen and (max-width: 767px){
		.label_home{
			display: none;
		}
	
	}
.sidebar__logo{
	width: 96px;
}
.mobile_gruup_logo{
	width: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select:focus,
	textarea:focus,
	input:focus {
	  font-size: 12px;
	}
  }
.drive-is-left{
	margin-left: 28px;
}
.is-grouped-multiline{
	width: 100%;
}
.spreadsheet-is-left{
	margin-left: 0px;
}
.document-is-left {
	margin-left: 0px;
}
.pdf-is-left {
	margin-left: 0px;
}
.ppt-is-left {
	margin-left: 0px;
}

.arrow__connection{

}