@import "colours";

body {
  height: 100%;
}

.e_headers {
  color: $white;

  &.e_headers--style1 {
    font-size: 30px;
    line-height: 48px;
  }

  &.e_headers--style2 {
    font-size: 40px;
    line-height: 48px;
  }

}

.exceptions__text {
  color: $white;
  font-size: 20px;
  line-height: 27px;
}

.exceptions__a {
  color: $white;
}

.exceptions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $amaranth;
}

.exceptions__margins {
  width: 620px;
  height: 620px;
}