<tr>
    <td align="center" style="padding: 20px 0 20px 0">
        <!--[if (gte mso 9)|(IE)]>
        <table bgcolor="#e62d49" align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
                <td align="center" valign="top" width="500">
        <![endif]-->
        <!-- UNSUBSCRIBE COPY -->
        <table bgcolor="#e62d49" width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
               style="max-width: 500px; height: 180px;" class="responsive-table">
            <tr>
                <td align="center">
                    <!--[if (gte mso 9)|(IE)]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                        <tr>
                            <td align="center" valign="top" width="500">
                    <![endif]-->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;"
                           class="wrapper">
                        <tr>
                            <td align="center" valign="top" style="padding: 15px 0;" class="logo">
                                <a href="https://www.gruup.io" target="_blank">
                                    <img alt="Logo" src="https://www.gruup.io/email/gruup_PRIMARY_LOGO-G@3x.png"
                                         width="32" height="40"
                                         style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;"
                                         border="0">
                                </a>
                                <a href="https://www.gruup.io" target="_blank"
                                   style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration: none; margin-top: 10px"
                                   border="0">Where digital lives</a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
            <tr>
                <td align="center"
                    style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
                    2018 GRUUP Technology Ltd, Registered in England 11094192. Gruup is a registered Trademark.
                    <br>
                    <a href="https://www.gruup.io/register" target="_blank" style="color: #ffffff;">Register for
                        FREE</a>

                    <a href="https://www.gruup.space" target="_blank" style="color: #ffffff;">Read Blog</a>

                    <a href="https://www.gruup.io/privacy" target="_blank" style="color: #ffffff;">Privacy Policy</a>
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>