{% extends 'emails/layout.html.twig' %}

{% block body %}
<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 10px 15px 70px 15px;" class="section-padding">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
                <td align="center" valign="top" width="500">
        <![endif]-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;"
               class="responsive-table">
            <tr>
                <td>
                    <!-- HERO IMAGE -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <!-- COPY -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                            class="padding">
                                            Welcome to Gruup.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                            class="padding">
                                            In order to activate your account please verify your email address by clicking the
                                            following link or copying it into your browser.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                            class="padding">
                                            <a
                                                href="{{url}}" target="_blank"
                                                style="word-break: break-all;"
                                                class="padding">{{url}}</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                            class="padding">
                                            If you have any questions, please get in touch at <a href="mailto:hello@gruup.io" target="_blank">hello@gruup.io</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                            class="padding">
                                            Thanks,<br/>
                                            Team Gruup<br/>
                                            <a href="https://www.gruup.space" target="_blank">www.gruup.space</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>
{% endblock %}
