<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Gruup {% endblock %}</title>
        
        <!-- apple Icons -->
        <link rel="apple-touch-icon" type="image/png" sizes="36x36" href="{{ asset('images/apple-icon-36x36.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="{{ asset('images/apple-icon-48x48.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{ asset('images/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="70x70" href="{{ asset('images/apple-icon-70x70.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon-96x96.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{ asset('images/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="150x150" href="{{ asset('images/apple-touch-icon.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{ asset('images/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ asset('images/apple-icon-167x167.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('images/apple-icon-180x180.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ asset('images/apple-icon-192x192.png')}}">

        <!-- Favicon details -->
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png')}}">
        <!-- MS Application Icons -->
        <meta name="msapplication-tooltip" content="Gruup">
        <meta name="msapplication-wide70x70logo" sizes="70x70"  content="images/70.png">
        <meta name="msapplication-wide310x150logo" sizes="310x150" content="images/redOnWhite-wide.png">

        <link rel="stylesheet" href="{{ asset('build/css/bulma.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/core.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/base.css') }}"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l]||[];
                w[l].push({
                    'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l!='dataLayer' ? '&l='+l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-KRVNK9Z');</script>
        <!-- End Google Tag Manager -->
        <style type="text/css">
            #footer {
                align-self: end;
                text-align: center;
                width: 100%;
                color: #414141
            }

            #footer span {
                font-size: 12px;
                line-height: 16px;
                vertical-align: super;
            }

            #iubenda-cs-banner {
                bottom: 0px !important;
                left: 0px !important;
                position: fixed !important;
                width: 100% !important;
                z-index: 99999998 !important;
                background-color: black;
            }

            .iubenda-cs-content {
                display: block;
                margin: 0 auto;
                padding: 20px;
                width: auto;
                font-family: Helvetica, Arial, FreeSans, sans-serif;
                font-size: 14px;
                background: #000;
                color: #fff;
            }

            .iubenda-cs-rationale {
                max-width: 900px;
                position: relative;
                margin: 0 auto;
            }

            .iubenda-banner-content > p {
                font-family: Helvetica, Arial, FreeSans, sans-serif;
                line-height: 1.5;
            }

            .iubenda-cs-close-btn {
                margin: 0;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                position: absolute;
                top: 0;
                right: 0;
                border: none;
            }

            .iubenda-cs-cookie-policy-lnk {
                text-decoration: underline;
                color: #fff;
                font-size: 14px;
                font-weight: 900;
            }

            .privacy-policy {
                font-size: 12px;
                text-decoration: underline;
                padding: 0 5px;
                vertical-align: super;
                margin-left: -8px;
                padding-left: 8px;
            }
        </style>
        <script type="text/javascript">
            var _iub = _iub||[];
            _iub.csConfiguration = {
                "lang": "en",
                "siteId": 1398852,
                "banner": {"applyStyles": false},
                "cookiePolicyId": 65211544
            };
        </script>
        <script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
        <script type="text/javascript" src="//cdn.iubenda.com/consent_solution/iubenda_cons.js"></script>
        <script type="text/javascript">
            _iub.cons.init({
                api_key: "Z7a2bqCWx4qyUOjup6mOMj13Es30tMlY"
            });
        </script>

    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRVNK9Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% block nav %}{% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
