<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
        <title>{% block title %} Gruup {% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/bulma.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/core.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/base-auth.css') }}"/>
        <!-- apple Icons -->
        <link rel="apple-touch-icon" sizes="150x150" href="{{asset('images/apple-touch-icon.png')}}">
        <meta name="apple-mobile-web-app-title" content="Gruup">
        <!-- Favicon details -->
        <link rel="apple-touch-icon" type="image/png" sizes="36x36" href="{{ asset('images/apple-icon-36x36.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="{{ asset('images/apple-icon-48x48.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{ asset('images/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="70x70" href="{{ asset('images/apple-icon-70x70.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon-96x96.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{ asset('images/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="150x150" href="{{ asset('images/apple-touch-icon.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{ asset('images/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ asset('images/apple-icon-167x167.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('images/apple-icon-180x180.png')}}">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ asset('images/apple-icon-192x192.png')}}">
        <!-- MS Application Icons -->
        <meta name="msapplication-tooltip" content="Gruup">
        <meta name="msapplication-wide70x70logo" content="images/70.png">
        <meta name="msapplication-wide310x150logo" content="images/redOnWhite-wide.png">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        {% block stylesheets %}{% endblock %}

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l]||[];
                w[l].push({
                    'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l!='dataLayer' ? '&l='+l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-KRVNK9Z');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRVNK9Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Used by React -->
        <section>
            <div id="root-section" class="block__flex main__wrap">
                Loading...
            </div>
        </section>

        <div class="notification-container">
            <div id="displayMessage"></div>
        </div>

        {% block javascripts %}

            <script>
                {% if app.user %}
                    window.PRE_LOADED_STATE = {
                        user: {
                            id: "{{ app.user.id }}",
                            email: "{{ app.user.email }}",
                            accountType: "{{ app.user.getAccountType() }}"
                        },
                        app: {
                            hash: '{{ (hash is defined) ?  hash : null  }}',
                            email: '{{ (email is defined) ?  email : null  }}',
                            maxHub: '{{ MAX_HUB_FREE_USER }}',
                            isSharedHub: {{ (isSharedHub is defined) ?  1 : "false"  }},
                    {% for message in app.flashes('isConnectGoogle') %}
                                isConnectGoogle: '{{message}}',{% endfor %}
                        {% for message in app.flashes('modifyCount') %}
                                    modifyCount: '{{message}}',
                        {% endfor %}
                                }
                            };
                        {% endif %}
                        </script>

                        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
                        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
                        <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Element.prototype.classList"></script>

                        <!-- these two files now must be included in every page -->
                        {#<script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>#}
                        {#<script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>#}

                        {{ encore_entry_script_tags('app') }}

                        <script type="text/javascript">
                            {% for messages in app.flashes('error') %}
                                notificationMessage(
                                        "",
                                        "{{ messages|join(', ')|trans({}, 'messages') }}",
                                        'error'
                                        );
                            {% endfor %}
                            {% for messages in app.flashes('success') %}
                                notificationMessage(
                                        "",
                                        "{{ messages|join(', ')|trans({}, 'messages') }}",
                                        'success'
                                        );
                            {% endfor %}

                                var uniqueIdGenerator = 1;

                                function nextId() {
                                    return uniqueIdGenerator++;
                                }

                                function notificationMessage(MessageTitle, SubTitle, ErrorStatus) {
                                    var ErrorStatus = " notification-"+ErrorStatus;
                                    var id = "notification-"+nextId();
                                    var innerMessageLabel = '<div id="'+id+'" class="test notification'+ErrorStatus+' notification-leave"><div class="notification-message" role="alert"><h4 class="title">'+MessageTitle+'</h4><div class="message">'+SubTitle+'</div></div></div>';

                                    var d1 = document.getElementById('displayMessage');
                                    d1.insertAdjacentHTML('beforeend', innerMessageLabel);
                                    setTimeout((function (id) {
                                        return function () {
                                            var ele = document.getElementById(id);
                                            ele.classList.add("notification-leave-active");
                                            setTimeout((function (ele) {
                                                return function () {
                                                    ele.remove();
                                                }
                                            })(ele), 5000);
                                        }
                                    })(id), 3000);
                                }

                        </script>
                        {% endblock %}
                        </body>
                    </html>
