<section id="footer">
    <span>© Copyright 2018 Gruup Technologies Ltd. Gruup is a Registered Trademark.</span>
    <a href="https://www.iubenda.com/privacy-policy/65211544" class="no-brand iubenda-embed privacy-policy" title="Privacy Policy">Privacy Policy</a>
    <a href="https://www.iubenda.com/privacy-policy/65211544/cookie-policy" class="no-brand iubenda-embed privacy-policy" title="Cookie Policy">Cookie Policy</a>
    <script type="text/javascript">
        (function (w,d) {
            var loader = function () {
                var s = d.createElement("script"),
                tag = d.getElementsByTagName("script")[0];
                s.src="https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s,tag);
            };
            if(w.addEventListener) {
                w.addEventListener("load", loader, false);
            } else if(w.attachEvent) {
                w.attachEvent("onload", loader);
            } else {
                w.onload = loader;
            }
        })
        (window, document);
    </script>
</section>