{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/exceptions.css') }}"/>
{% endblock %}

{% block body %}

    <div class="exceptions">
        <div class="exceptions__margins">
            <h1 class="e_headers e_headers--style1">500</h1>
            <h2 class="e_headers e_headers--style2">Well this is a little unexpected</h2>
            <p class="exceptions__text">
                Something's not quite right here, we'll jump straight on it. If you want to give us a heads up,
                let us know what happened. <br />
                <a href="mailto:hello@gruup.space" class="exceptions__a">hello@gruup.space</a>
            </p>
        </div>
    </div>
{% endblock %}