{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/exceptions.css') }}"/>
{% endblock %}

{% block body %}
    <div class="exceptions">
        <div class="exceptions__margins">
            <h1 class="e_headers e_headers--style1">404</h1>
            <h2 class="e_headers e_headers--style2">Oops. it looks like we've lost this page.</h2>
            <p class="exceptions__text">
                <br />
                It could be us, it could be you, but staring at this page isn't gonna bring it back. <br>
                Why not try looking for another one.
            </p>
        </div>
    </div>
{% endblock %}