<div class="navbar-wrapper">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('welcome_home') }}">
                <img src="{{ asset('images/Gruup-Red.svg') }}"
                     srcset="images/logo@2x.png 2x,
                     images/logo@3x.png 3x"
                     class="Logo">
            </a>

            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>

        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#">
                    <img src="{{ asset('images/user-icon.png') }}"
                         srcset="images/user-icon@2x.png 2x,
                         images/user-icon@3x.png 3x"
                         class="user-icon">
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        {{ app.user.email }}
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="{{ path('get_drive') }}">
                            Sync To Google
                        </a>
                        <a class="navbar-item" href="{{ path('account') }}">
                            Account
                        </a>
                        <a class="navbar-item" href="{{ path('logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
