{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('layout/_nav.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="{{ path('welcome_home') }}">Dashboard</a></li>
        <li><a class="is-active" href="javascript:;">Account</a></li>
    </ul>
{% endblock %}

{% block body %}

    <div class="container is-fluid">
        {% for message in app.flashes('loginError') %}
            <div class="alert alert-danger" style="color:red;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('logoutSuccess') %}
            <div class="alert alert-success" style="color:green;">
                {{ message }}
            </div>
        {% endfor %}
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container is-fluid">
                    <h1>
                        Email : <strong>{{ app.user.email }}</strong>
                    </h1>
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <p class="level-item">
                                {% if linkedUser != "" and linkedUser.accessToken != "" %}
                                    <a href="{{ path('welcome_home') }}">
                                        Drive Details ({{linkedUser.email}})
                                    </a> <b>| </b>
                                    <a href="{{ path('logout_google') }}">Logout</a>
                                {% else %}
                                    <a href="{{ path('connect_google') }}">Login with Google</a>
                                {% endif %}
                            </p>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
{% endblock %}